<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeAchievement">
  <div class="admin_form">
    <div class="form-group mb-2">
      <label class="control-label">Show achievements page (on client dashboard)</label>
      <%= f.check_box :show_achievements_page, value: Setting.show_achievements_page %>
    </div>
  </div>
</section>