<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeClient">
  <div class="admin_form">            
    <div class="form-group mb-2">
      <label class="control-label">Activities</label>        
      <%= f.text_area :strength_markers, value: Setting.strength_markers.join("\n"), class: "form-control", style: "height: 15rem;" %>
    </div>
    <div class="form-group mb-2">
      <label class="control-label">Bodyparts</label>        
      <%= f.text_area :body_markers, value: Setting.body_markers.join("\n"), class: "form-control", style: "height: 15rem;" %>
    </div>
    <div class="form-group mb-2">
      <label class="control-label">If a client hasn't attended for more than this many months, they are considered cold</label>
      <%= f.number_field :cold, value: Setting.cold, class: "form-control number-field" %>
    </div>
    <div class="form-group mb-2">
      <label class="control-label">If a client has attended in the last this many months, they are considered to have recently attended</label>
      <%= f.number_field :recently_attended, value: Setting.recently_attended, class: "form-control number-field" %>
    </div>
  </div>
</section>