<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeDiscount">  
  <div class="admin_form">      
    <div class="form-group mb-2">
      <label class="control-label">Discount Reason Names</label>    
      <%= f.text_area :discount_reason_names, value: Setting.discount_reason_names.join("\n"), class: "form-control", style: "height: 30rem;" %>
    </div>         
  </div>
</section>  