<section class="mb-5">   
  <h5 class="fs-5 ms-4 mb-0 fw-bolder text-uppercase">Discount Names</h5>
  <div class="card bg-opaque-white">
    <div class="card-body bg-light">               

      <div class="form-group mb-2">
        <label class="control-label">Levels</label>
        <%= f.text_area :discount_names, value: Setting.discount_names.join("\n"), class: "form-control", style: "height: 15rem;" %>
      </div>         

    </div>
  </div>
</section>  