<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeMessaging">
  <div class="admin_form">               
    <!--div class="form-group mb-2">
      <label class="control-label">Renew Online?</label>
      <%#= f.check_box :renew_online %>
    </div-->
    <!--div class="form-group mb-2">
      <label class="control-label">Offer client renewal message when this number of days left</label>
      <%#= f.number_field :days_remain, value: Setting.days_remain, class: "form-control number-field" %>
    </div>
    <div-- class="form-group mb-2">
      <label class="control-label">Offer client renewal message when this number of attendances left</label>
      <%#= f.number_field :attendances_remain, value: Setting.attendances_remain, class: "form-control number-field" %>
    </div-->
    <!--div class="form-group mb-2">
      <label class="control-label">Send expiry message for Package this number of days before expiry</label>
      <%#= f.number_field :package_expiry_message_days, value: Setting.package_expiry_message_days, class: "form-control number-field" %>
    </div>
    <div class="form-group">
      <label class="control-label">Send expiry message for Trial this number of days before expiry</label>
      <%#= f.number_field :trial_expiry_message_days, value: Setting.trial_expiry_message_days, class: "form-control number-field" %>
    </div-->
  </div>
</section>