<section class="mb-5">   
  <h5 class="fs-5 ms-4 mb-0 fw-bolder text-uppercase">Purchase</h5>
  <div class="card bg-opaque-white">
    <div class="card-body bg-light">               
      
      <div class="form-group mb-2">
        <label class="control-label">Payment methods</label>
        <%= f.text_area :payment_methods, value: Setting.payment_methods.join("\n"), class: "form-control", style: "height: 20rem;" %>
      </div>

    </div>
  </div>
</section>