<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeProduct">
  <div class="admin_form">               
    <div class="form-group mb-2">
      <label class="control-label">Levels</label>
      <%= f.text_area :product_colors, value: Setting.product_colors.join("\n"), class: "form-control", style: "height: 30rem;" %>
    </div>         
  </div>
</section>  