<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopePurchase">
  <div class="admin_form">                
    <div class="form-group mb-2">
      <label class="control-label">Payment methods</label>
      <%= f.text_area :payment_methods, value: Setting.payment_methods.join("\n"), class: "form-control", style: "height: 20rem;" %>
    </div>
    <div class="form-text alert alert-primary mb-2">
      Be careful. Don't change layout or App will break.
    </div>          
    <div class="form-group mb-2">
      <label class="control-label">Sunset Limits</label>
      <%= f.text_area :sunset_limit_days, value: @sunsets, class: "form-control", style: "height: 10rem;"  %>
    </div>    
  </div>
</section>