<section class="mb-3 settings-scope"
         data-settings-target="settingsScope settingsScopeBooking">
  <div class="canvas gray100-canvas embossed px-2">
    <div class="form-text alert alert-primary mb-2">
      Be careful. Don't change layout or App will break.
    </div>          
    <div class="form-group mb-2">
      <label class="control-label">Sunset Limits</label>
      <%= f.text_area :sunset_limit_days, value: @sunsets, class: "form-control", style: "height: 10rem;"  %>
    </div>
    <div class="form-group">
      <label class="control-label">Amnesty Options</label>
      <%= f.text_area :amnesty_limit, value: @amnesties, class: "form-control", style: "height: 40rem;"  %>
    </div>
  </div>
</section>