<%# redundant - delete file %>
<% if false %>
  <% unless @bookings_no_amnesty.empty? %>
  <div class ="d-flex bg-light w-50">
      <div class ="cell fw-bold">Attendances</div>
  </div>
    <% @bookings_no_amnesty.each_with_index do |a, index| %>
      <div class='d-flex bg-light w-50'>
        <div class='cell c-purchases-atendances-index'>
          <%= @bookings_no_amnesty.size - index %>
        </div>
        <div class='cell'><%= a.date %></div>
        <div class='cell'><%= a.status %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
