<div class='d-flex flex-column'>
  <h4 class='text-center'><%= year.year %></h4>
  <%= pie_chart charts_purchase_charge_by_wg_path(year: year.year), donut: true, thousands: ",", legend: "bottom" %>
</div>