<div class='d-flex flex-column'>
  <h4 class='text-center'><%= year.year %></h4>
  <%= pie_chart charts_product_group_count_path(year: year.year, color: true, wg_show: false), donut: true, legend: "bottom", label: 'Value' %>
</div>