<div class="container px-1">  
  <p>
    Download:
    <%#= link_to "Full Data", purchases_path(format: "csv", export_all: true) %>
    <%= link_to "Membership Data", purchases_path(format: "xls", export_all: true) %>
  </p>
</div>
