<div id="purchases-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <%#= paginate @purchases, remote: true %>
    <%#= page_entries_info @purchases %>
    <% if @admin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@purchases&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <%== pagy_bootstrap_combo_nav_js(@pagy) %>
  </div>

  <table class="table table-secondary table-striped caption-top">
    <% if @admin_plus %>
      <caption class="px-1"><%= rupees(@purchases_all_pages_sum) %><small> (all pages)</small></caption>
    <% end %>
    <thead>
      <tr class="extra_small">
        <th scope="col">Client</th>
        <th scope="col">Purchase Date</th>
        <th scope="col" class="nomobile">Start to Expiry</th>
        <th scope="col" class="nomobile"></th>
        <th scope="col" class="nomobile"></th>
      </tr>
    </thead>
    <tbody id="purchases">
      <%= render @purchases %>
    </tbody>
  </table>
</div>  
