<div id="purchases-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <%#= paginate @purchases, remote: true %>
    <%#= page_entries_info @purchases %>
    <%== pagy_nav @pagy %>
  </div>

  <table class="table table-secondary table-striped caption-top">
    <% if logged_in_as?('admin', 'superadmin') %>
      <caption class="px-1"><%= rupees(@purchases_all_pages_sum) %><small> (all pages)</small></caption>
    <% end %>
    <thead>
      <tr class="extra_small">
        <th scope="col">Client</th>
        <th scope="col">Purchase Date</th>
        <th scope="col" class="nomobile">Start to Expiry</th>
        <th scope="col" class="nomobile"></th>
        <th scope="col" class="nomobile"></th>
      </tr>
    </thead>
    <tbody id="records">
      <%= render @records %>
    </tbody>
  </table>
</div>  
