<div id="purchases-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <%#= paginate @purchases, remote: true %>
    <%#= page_entries_info @purchases %>
    <% if @admin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@purchases&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>   
  </div>

  <div class="container px-0 mb-5">
    <% if @admin_plus %>
      <div class="mt-2 px-1"><%= rupees(@purchases_all_pages_sum) %><small> (all pages)</small></div>
    <% end %>
    <div class="admin-table mt-2">
      <div class="row fw-bolder">
        <div class="column col-2x">Client</div>
        <div class="column col-3x">Purchase Date</div>
        <div class="column col-2x nomobile">Start to Expiry</div>
        <div class="column nomobile"></div>
        <div class="column nomobile"></div>
      </div>
    </div>
    <div class="admin-table">
      <%= render @purchases %>
    </div>
  </div>
</div>
