<div<h4 class='text-center'>Purchase Analysis</h4>
  <div class="mb-5">
    <%= line_chart @purchase_count_by_week, ytitle: "Count" %>
    <%= line_chart @purchase_charge_by_week, ytitle: "Payment (Rs)", thousands: "," %>
  </div>
  <div class='mb-4'>
    <h5 class='text-center'>Count by Workout Group</h5>
    <div class='d-flex flex-column flex-sm-row justify-content-center'>
      <%= render partial: 'donut_wg_count', collection: @purchase_years, as: :year %>
    </div>
  </div>
  <div>
    <h5 class='text-center'>Charge by Workout Group</h5>
    <div class='d-flex flex-column flex-sm-row justify-content-center'>    
      <%= render partial: 'donut_wg_charge', collection: @purchase_years, as: :year %>
    </div>
  </div>
</div>
