<h2>Editing Purchase</h2>
<%= turbo_frame_tag 'purchase_edit' do %>
  <%= render 'form', purchase: @purchase %>
<% end %>
<%= link_to image_tag('clipboard.png', class: "back_icon"), admin_purchase_path(@purchase), class: "icon-container" %> |
<%= link_to image_tag('back.png', class: "back_icon"), admin_purchases_path, class: "icon-container" %>
