<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-uppercase fw-bolder" id="termsModalLabel">group training at the space</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-2">
        <%= render partial: 'public_pages/footer/group_package_policy', locals: {prevent_link: true} %>
      </div>
    </div>
  </div>
</div>