<div class="text-center mb-3">
  <div id="bookings-table" class="container px-1 mb-3">
    <p class="fw-bolder fst-italic mb-0">There are no classes currently in the booking window.</p>
  </div>
</div>