<%= turbo_frame_tag 'my_bookings' do %>
  <section id="my-bookings-table" class="">
    <div class="d-md-flex justify-content-center my-booking canvas black-canvas pb-3">
      <h6 class='style-1 text-white py-4 mb-0'>my bookings</h6>
      <% if @my_bookings.empty? %>
        <div class='mx-auto'>you have no classes booked</div>
      <% else %>
        <%= render partial: 'my_booking', collection: @my_bookings, as: :wkclass %>                  
      <% end %>
    </div>
  </section>
<% end %>  





