<div id="clients-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <%#= paginate @clients, remote: true %>
    <%#= page_entries_info @clients %>
    <% if @admin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@clients&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>    
  </div>

  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody id="clients">
      <%= render @clients %>
    </tbody>
  </table>
</div>
