  <p>
    Download:
    <%= link_to "Full Data", clients_path(format: "csv", export_all: true) %> |
    <%= link_to "Name & Phone", clients_path(format: "xls", export_all: true) %> |
    <%= link_to "Analysis", analyze_clients_path(format: "xls", export_all: true) %>
  </p>