  <p>
    Download:
    <%= link_to "Full Data", admin_clients_path(format: "csv", export_all: true) %> |
    <%= link_to "Name & Phone", admin_clients_path(format: "xls", export_all: true) %> |
    <%= link_to "Analysis", client_analyze_path(format: "xls", export_all: true) %>
  </p>