<% tooltip_title = "The client's password will be reset and they will be sent a whatsapp containing their new password.".gsub(' ',"\u00a0") %>
<% confirm_message = "This client's password will be reset. Are you sure?" %>
<div class='d-inline' data-toggle="tooltip" data-placement="top" title = <%= tooltip_title %> >
  <%= link_to image_tag('forgot-password.png', class: "table_icon"), account_path(client.account, requested_by: 'admin'), data: { turbo_method: :patch, turbo_confirm: confirm_message } %>
</div>