<h2>Clients <%= link_to image_tag('add.png', class: "button_icon"), new_admin_client_path, class: "icon-container" %></h2>
<div id="clients-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'clients_table' %>
</div>
