<h2>
  <%= render partial: 'client_heading' %>
</h2>

<div id="client-summary" class="container px-1 mb-5 margin-override">
  <%= render partial: 'client_summary' %>
</div>

<div id="attendances-table" class="container px-1 mb-3 margin-override">
  <%= render partial: 'client_attendances_table' %>
</div>

<%= link_to image_tag('back.png', class: "back_icon"), admin_clients_path, class: "icon-container" %>
