<h2>Workouts <%= link_to image_tag('add.png', class: "button_icon"), new_workout_path, class: "icon-container" %></h2>
<div id="workouts-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'workouts_table' %>
</div>
