<div id="instructor-expense-filter" class="container px-1 mb-3">
  <div class="container search">
    <%= form_with(url: instructor_expense_filter_workout_groups_path(@workout_group), method: "get", class: "form-class") do %>
      <div class="container mb-1">
        <div class="row">
          <div class="col-12 px-0">
            <fieldset>
              <!--legend>INSTRUCTOR</!--legend-->
              <% @instructor_filter_options.each do |i| %>
                <%= label_tag nil, class: "chbox-lbl-filters" do %>
                  <%= check_box_tag 'instructor[]', i.id, session[:filter_instructor].present? ? session[:filter_instructor].include?(i.id.to_s) : false, id: "chbox#{i.id}", onchange: "this.form.requestSubmit()" %>
                  <%= i.name %>
                <% end %>
              <% end %>
            </fieldset>
          </div>

          <div class="container d-flex">
            <%#= link_to image_tag('clear_filter.png', class: "filter_icon"), clear_instructors_filters_path, {remote: true, class: "search searchdelete icon-container"} %>
          </div>

        </div>
      </div>
    <%  end %>
    <hr class = "search mb-3"></hr>
  </div>
</div>  
