<table class="table table-secondary table-striped caption-top">
  <caption>** Other Expenses</caption>
  <tbody>
    <% @fixed_expenses.each_with_index do |x, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= x.item %></td>
        <td><%= rupees(x.amount) %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Total</th>
      <td><%= rupees(@summary[:fixed_expense]) %></td>
    </tr>
  </tbody>
</table>
