<div class="mb-2"><h6 class="fw-bolder">** Other Expenses<h6></div>
<div class="admin-table narrow striped">
  <% @fixed_expenses.each_with_index do |x, index| %>
    <div class="row"> 
      <div class="column"><%= index + 1 %></div>
      <div class="column col-1x"><%= x.item %></div>
      <div class="column col-1x"><%= rupees(x.amount) %></div>        
    </div>
  <% end %>
  <div class="row">
    <div class="column fw-bolder">Total</div>
    <div class="column col-1x"></div>    
    <div class="column col-1x fw-bolder"><%= rupees(@summary[:fixed_expense]) %></div>    
  </div>
</div>
