<div id="workout-groups-table" class="container px-0 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <caption>Workout Group List <small><%="(#{@workout_groups.size})"%></small></caption>
    <tbody >
      <thead>
        <tr>
          <th scope="col">Group</th>
          <th scope="col">Partner</th>
          <th scope="col">Workout</th>
          <% unless logged_in_as?('partner') %>
            <th scope="col">Account</th>
            <th scope="col">Service</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <%= render @workout_groups %>
      </tbody>
  </table>
</div>
