<div class="container px-0 mb-5">
  <div>Workout Group List <small><%="(#{@workout_groups.size})"%></small></div>
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-2x">Group</div>
      <div class="column col-2x">Partner</div>
      <div class="column col-3x">Workout</div>
      <% unless logged_in_as?('partner') %>
        <div class="column col-1x">Account</div>
        <div class="column col-1x">Service</div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
      <% end %>
    </div>
  </div>
  <div class="admin-table">
    <%= render @workout_groups %>
  </div>
</div>