<div class="container px-0 mb-5">
  <div>Workout Group List <small><%="(#{@workout_groups.size})"%></small></div>
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x extra-small">Group</div>
      <div class="column col-1x extra-small">Partner</div>
      <div class="column col-1x extra-small">Workouts</div>
      <% unless logged_in_as?('partner') %>
        <div class="column col-1x extra-small">Account</div>
        <div class="column col-1x extra-small">Service</div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column"></div>
      <% end %>
    </div>
  </div>
  <div class="admin-table">
    <%= render @workout_groups %>
  </div>
</div>