<h2>Editing Workout Group</h2>
<%= render 'form', workout_group: @workout_group %>
<%= link_to 'show', admin_workout_group_path(@workout_group) %> |
<%= link_to 'back to workout groups', admin_workout_groups_path %>
