<h4>Workout Groups <%= link_to image_tag('add.png'), new_admin_workout_group_path %></h4>
<div id="workout-groups-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'workout_groups_table' %>
</div>
