<div class="container px-1"  style="overflow: scroll">
  <h4>Workout Groups <%= link_to image_tag('add.png', class: 'button_icon'), new_admin_workout_group_path %></h4>
</div>
<%= turbo_frame_tag 'workouts' do %>
  <%= render partial: 'workout_groups_table' %>
<% end %>