<div class="container px-1">
  <h4>Discounts <%= link_to image_tag('add.png', class: 'button_icon'), new_superadmin_discount_path %></h4>
</div>
<div id="discounts_table_active" class="container px-1 mt-3 overflow-auto">
  <%= render 'discounts_table_active' %>
</div>

<hr class ="my-5">

<div id="discounts_table_inactive" class="container px-1 overflow-auto">
  <%= render 'discounts_table_inactive' %>
</div>
