  <div class="row">
    <div class="column col-1x fw-light"><%= waiver.client.name %></div>
    <div class="column col-1x fw-light"><%= waiver.created_at.strftime('%d %b %y') %></div>
    <div class="column"><%= link_to image_tag('clipboard.png', class:'table_icon'), client_waiver_path(waiver.client) %></div>
  </div>

