<div class="container">
<h4 class="health">Health Declaration Form &amp; Assumption of Risk, Waiver of Liability and Indemnity Form</h4>
<p>The Space, 14 Silver Beach Estate, A.B. Nair Rd, Juhu, Mumbai – 400 049</p>
<p>All Clients are required to complete the 'Health Declaration Form' and the 'Declaration, Assumption of Risk, Waiver of Liability and Indemnity Form' before participating in services at The Space.</p>
<p>Please fill all the information below with accurate &amp; true information so that we can safely guide you through your training with us.</p>
<p> All information disclosed will be kept confidential and will only be used for the purpose of your participation at The Space.</p>

<%#= turbo_frame_tag @waiver do %>
  <div class="col-md-6 mb-4">
    <%= render 'form', waiver: @waiver %>
  </div>
<%# end %>
</div>