<h4> <%= @partner.name %> </h4>
<h6 class="fw-bolder fst-italic mb-0"> Payment Summary </h6>
<form action=<%= partner_path(@partner) %> method="GET">
  <select name="revenue_month" onchange="this.form.submit()" class= "sort">
    <%= options_for_select @months, session[:revenue_month] %>
  </select>
</form>

