<table class="table table-secondary table-striped caption-top">
  <tbody>
    <% @partner.workout_groups.each do |wg| %>
      <tr>
        <th scope="row"><%= link_to wg.name, admin_workout_group_path(wg), class: 'like_button' %></th>
        <td><%= number_to_currency(@partner_share[wg.name.to_sym], precision: 0, unit: '') %></td>
      </tr>
    <% end %>
    <tr>
      <th scope="row">Total</th>
      <td class="fw-bold"><%= rupees(@total_share) %></td>
    </tr>
  </tbody>
</table>
