<div class="container px-1 mb-1">
  <h4>Partners <%= link_to image_tag('add.png', class: "button_icon"), new_partner_path %></h4>
</div>
<div id="partners_table" class="container px-1 mb-5">
  <%= render partial: 'partners_table' %>
</div>
