<h4>Partners <%= link_to image_tag('add.png', class: "button_icon"), new_admin_partner_path %></h4>
<div id="partners_table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'partners_table' %>
</div>
