<div class="text-center mb-3">
  <%= render partial: 'partner_heading' %>
</div>

<div id="revenues-table" class="container px-1 mb-3">
  <%= render partial: 'revenues_table' %>
</div>

<%= (link_to image_tag('back.png', class: "back_icon"), admin_partners_path, class: "icon-container") unless logged_in_as?('partner')%>
