<div id="payments-table" class="container px-0 mb-5">
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Client</div>
      <div class="column col-1x">Date</div>        
      <div class="nomobile column col-1x">Type</div>        
      <div class="column col-1x">Amount</div>
      <div class="nomobile column col-1x">Mode</div>        
      <div class="nomobile column">Web</div>        
      <div class="nomobile column col-1x">Note</div>        
    </div>
  </div>
  <div class="admin-table striped">
    <%= render partial: @payments %>
  </div>
</div>
