<form action="/superadmin/payments" method="GET">
  <div class="mt-0">
    <i class="fas fa-sort-alpha-down"></i>
    <select class="form-control-sm mb-2 sort pr-3" name="sort_option" onchange="this.form.requestSubmit()">
      <option disabled="disabled" selected="selected" value="">Sort by</option>
      <option value="client_name" <%="selected" if session[:sort_option] == "client_name"%> >client</option>
      <option value="dop" <%="selected" if session[:sort_option] == "dop"%> >date</option>
    </select>
  </div>
</form>