<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @table_time.start %>
</p>

<%= link_to 'Edit', edit_admin_table_time_path(@table_time) %> |
<%= link_to 'Back', admin_table_times_path %>
