<div id="strength-markers-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
      <div class="record-count mb-1">
        <%= "showing #{@strength_markers&.length} of #{@pagy&.count}" %>
      </div>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>   
  </div>
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Date</div>
      <div class="column col-1x">Activity</div>
      <div class="column col-1x">Weight</div>
      <div class="column col-1x">Reps</div>
      <div class="column col-1x">Sets</div>
      <div class="column col-1x">Note</div>
      <% unless @client %>
        <div class="column col-2x">Client</div>
      <% end %>
      <div class="column nomobile"></div>
      <div class="column nomobile"></div>
    </div>
  </div>
  <div class="admin-table striped">
    <%= render @strength_markers %>
  </div>
</div>
