<h4>Adjust & Restart</h4>
<%= turbo_frame_tag 'adjust_restart' do %>
  <div class="pseudo-form text-center mx-2 mb-3">
    <div class="px-4">
      <p>Started your Package, but not attended as many classes as you planned? Please read about our Adjust & Restart option under 'Modifications' <%= link_to 'here', terms_and_conditions_path, class: "fw-bolder text-decoration-underline", target: '_blank' %></p>  
    </div>
    <div class="cancel">
      <%= link_to image_tag('delete.png', class: "table_icon"), client_package_modification_cancel_adjust_restart_path(@client) %>
    </div>
  </div>
<% end %>