<h4>Transfer</h4>
<%= turbo_frame_tag 'transfer' do %>
  <div class="canvas gray100-canvas embossed width32 text-center mb-3 text-center mb-3">
    <div class="px-4">
      <p>Things not worked out as planned? You may be able to transfer your Package to a friend or family member, who is not currently a member. Please read about our Transfer option under 'Modifications' <%= link_to 'here', terms_and_conditions_path, class: "fw-bolder text-decoration-underline", target: '_blank' %></p>  
    </div>
    <div class="cancel">
      <%= link_to image_tag('delete.png', class: "table_icon"), client_package_modification_cancel_transfer_path(@client) %>
    </div>
  </div>
<% end %>