<h4 class="mt-4 text-center fw-bolder">Group Training at The Space</h4>
<div class="accordion accordion-highlight" id="accordion-1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-1">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
        Package Basics
      </button>
    </h2>
    <div id="collapse-1-1" class="accordion-collapse collapse" aria-labelledby="heading-1-1"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
          <ul class="">
            <li>Packages allow attendance at a specified number of classes of specified workout styles over a specified period of validity.</li>
            <li>Packages only allow attendance to the workout style or styles specified in the Package.</li>
            <li>The specified number of classes is either a <em>Fixed Maximum</em> or <em>Unlimited</em>.</li>
            <li>Unlimited Class Packages allow attendance at a maximum of 1 class attendance per day</li>
            <li>Any full or part class attended counts as an attendance</li>
            <li>The Package starts on the day the Package is first used to attend a class</li>
            <li class="">The last day of validity of the Package is the earlier of:
            <ol class="mt-1" style="padding-left: 1.25rem;">
              <li>the date the maximum number of classes is attended (where applicable)</li>
              <li>the close of day on the day prior to the start date, plus the period of validity, plus the period of any freezes or adjustments minus any deductions incurred.</li>
              <li>the sunset date (see below)</li>
            </ol>
          </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-2">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
        Modifications
      </button>
    </h2>
    <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <h5 class="mb-2"><strong>Freezing</strong></h5>
        <p class="text-secondary">
          Packages cannot be cancelled or refunded, however if after starting your Package you decide you do not wish to use your Package for some time, you may (at any time before the normal expiry of your Package, but not after expiry) freeze your package for a maximum of 14 days per freeze. The expiry date of your Package will be extended by the duration of the freeze. Freezes may only be made through the online membership system booking page by making the associated payment (as set out under <%= link_to 'charges', '/charges&deductions', class: "text-decoration-underline" %> on the website).  
        </p>
        <ul class="ps-2">
          <li>You may set your freeze to start on a specified day, which can be no earlier than the following day and no later than 1 month ahead.</li>
          <li>Once the freeze start date has been set, it cannot be changed.</li>
          <li>Attendance at (or booking of) a class during the 14 day period of a freeze is perfectly acceptable, however it will cause the freeze to end immediately and the end date of the freeze will be treated as the day before the attendance (or booking). If you wish to freeze your Package again after that class, you would need to purchase a new freeze. The same applies if you only attend part of a class or if you book a class, which you subsequently cancel or don't attend.</li>
          <li>The maximum period for one freeze is 14 days.</li>
          <li>If you wish to freeze for an extended period of time, you will need to purchase multiple freezes. For example if you wish to freeze for 20 days, you will need to purchase 2 freezes, which can be used back-to-back.</li>
          <li>There is no limit to the number of freezes you may purchase, however Packages do have a Sunset Date (see below).</li>
          <li>Once a freeze has been paid for, it cannot be cancelled or refunded.</li>
          <li>Any bookings you made <em>before</em> purchasing your freeze, for classes during the period of your freeze will be cancelled.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Adjust & Restart</strong></h5>
        <p class="mb-2">Packages cannot be cancelled or refunded, however if after starting your Package you decide you do not wish to continue with it at that time, you may (at any time before the normal expiry of your Package, but not after expiry) Adjust & Restart the Package in the following way:</p>
          <ol>
            <li>Request the Space to Adjust & Restart your Package;</p>
            <li>Make an associated payment for those classes, which you <em>did</em> attend in your Package, prior to requesting a restart. These will be charged as Drop In classes at the rate of a Drop In class applicable at the time of your request to Adjust & Restart and subject to a minimum payment as set out under <%= link_to 'charges', '/charges&deductions', class: "text-decoration-underline" %> on the website.</li>
          </ol>

          <ul class="ps-2">
            <li>Your request to Adjust & Restart will be accepted once payment has been received in full.</li>
            <li>Once the Adjust & Restart is accepted, you can restart the full Package from scratch within 1 month from that date.</li>
            <li>If the Package has still not been restarted 1 month after the date the Adjust & Restart was accepted, it will expire permanently. No refunds of any kind will be due.</li>
          </ul>

        <h5 class="mt-4 mb-2"><strong>Transfer</strong></h5>
        <p>Packages with a remaining duration of more than 3 weeks can be transferred to a friend or family member by following the process and paying the fee set out by The Space on request.</p>
        
        <h5 class="mt-4 mb-2"><strong>Sunset Date</strong></h5>
        <p class="mb-2">All Purchases expire after a fixed period of time from the date of purchase, regardless of amount of use or quantity of freezes. In particular, purchases that are made, but not used <em>do not</em> have indefinite validity and expire after a fixed time. Purchases that are made cannot be frozen repeatedly, indefinitely. Sunset dates are:
          <ul class="" style="list-style-type: none">
            <li>the date of purchase:</li>
            <li>+ the original validity duration of the purchase</li>
            <li>+ EITHER 1 month (for Drop-ins and Packages of 1 week validity) OR +6 months (for Packages of greater than 1 week validity)</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-3">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
        Closures
      </button>
    </h2>
    <div id="collapse-1-3" class="accordion-collapse collapse" aria-labelledby="heading-1-3"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <h5 class="mb-2"><strong>Public Holidays</strong></h5>
        <p>Public holidays are included in the validity durations of Packages. Packages are not frozen and no adjustments are made to Packages when The Space is closed for Public Holidays.</p>
          <h5 class="mt-4 mb-2"><strong>Other Closures <em>(not Public Holidays)</em></strong></h5>
        <p>Packages will be frozen during a period of closure if the Minimum Class Guarantee (described below) is not met. If the Minimum Class Guarantee is met, Packages will not be frozen.</p>
        <h5 class="mt-4 mb-2">Extended closure</strong></h5>
        <p>In extreme circumstances, The Space may have to close its physical premises for a substantial period of time. During this period online classes may be used as a substitution for in-person classes. Packages will only be frozen for the day or days where the Minimum Class Guarantee has not been met. In cases where Packages <em>have</em> been frozen, they will cease to be frozen on the day The Space re-opens its physical premises for business and provides the Minimum Class Guarantee. Packages will then continue to expire in the normal course. Refunds are not available in the case of extended closure.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-4">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
        Injury & Illness
      </button>
    </h2>
    <div id="collapse-1-4" class="accordion-collapse collapse" aria-labelledby="heading-1-4"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p class="mb-2 text-secondary">Packages cannot be cancelled or refunded, however if after starting your Package you become ill or injured, you may freeze your Package. The expiry date of your Package will be extended by the duration of the freeze. You may either purchase a freeze as described above, or provide a doctor’s note as described below. If you provide a doctor’s note, the freeze charge will be waived. A freeze with doctor’s note may only be arranged in the following way:</p>
        <ol class="">
          <li>Make a written request to the Space to freeze your Package between 2 specified dates, specifying the injury or illness that has made the withdrawal from exercise necessary. Freezes cannot be accepted without specific start and end dates and reason.</li>
          <li>Provide a doctor’s note corroborating the injury or illness and the time period for which rest is necessary.</li>
        </ol>
        <ul class="ps-2">
          <li>The freeze will start no earlier than the date The Space receives the corroborating doctor’s note.</li>
          <li>If the doctor does not provide a date when exercise can resume or a time period for which rest is necessary, a freeze will be applied for a maximum of 14 days. If you need longer to recover, you will need to repeat this process, requesting a further freeze and providing another doctor’s letter. Your Package will not be frozen for any period where a corroborating doctor’s letter has not been provided in the correct timeframe.</li>
          <li>If you attend a class during the period of your freeze, your freeze will end on the day before your attendance. If you wish to freeze your Package again after the attendance, you will need to complete the process again for a new freeze and either purchase a freeze or provide another doctor’s letter in the manner described above. Your package will not be frozen in the meantime.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-5">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-5" aria-expanded="false" aria-controls="collapse-1-5">
        Booking a Class
      </button>
    </h2>
    <div id="collapse-1-5" class="accordion-collapse collapse" aria-labelledby="heading-1-5"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <ul class="">
          <li>Class bookings and amendments to bookings must be made via the Space’s online booking system</li>
          <li>A booking or booking amendment for a class can only be made during its Booking Window (described below).</li>
          <li>Each class has a maximum capacity and is available for booking on a first-come, first-served basis.</li>
          <li>You should only make a booking for a class for which you firmly intend to attend.</li>
          <li>If you make a booking and subsequently find you are unable to attend the class, you should cancel the booking as early as possible.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Early Cancellation</strong></h5>
        <ul class="">
          <li>If you cancel a booking prior to 2 hours before the start time of the class, this is considered an <em>Early Cancellation</em></li>
          <li>If you make an <em>Early Cancellation</em> from time to time, no deduction will be made to your Package. However if you regularly book and then cancel classes, deductions to your Package will apply in the same way as if you had made a <em>Late Cancellation</em>.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Late Cancellation</strong></h5>
        <ul class="">
          <li>If you cancel a booking for a class between 2 hours before and 10 minutes before the start time of the class, this is considered a <em>Late Cancellation</em></li>
          <li>If you make a <em>Late Cancellation</em>, a deduction will be made to your Package.</li>
        </ul>
          <em>Unlimited Class Package</em>
        <ul class="">
          <li>The expiry date of your Package will be reduced by 1 day each time you make a Late Cancellation.</li>
        </ul>
          <em>Fixed Class Package</em>
        <ul class="">
          <li>A <em>Late Cancellation </em>will be treated in the same way as if you had attended the class and so your remaining classes will reduce by 1.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>No Show</strong></h5>
        <ul class="">
          <li>If you cancel a class after 10 minutes before the start time of the class, do not arrive in time to participate in the class or simply do not show up to the class, this is considered a <em>No Show</em></li>
          <li>If you <em>No Show</em>, a deduction will be made to your Package.</li>
        </ul>
          <em>Unlimited Class Package</em>
        <ul class="">
          <li>The expiry date of your Package will be reduced by 2 days each time you <em>No Show</em>.</li>
        </ul>
          <em>Fixed Class Package</em>
        <ul class="ml-4">
          <li>A <em>No Show</em> will be treated in the same way as if you had attended the class and so your remaining classes will reduce by 1.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Maximum Amendments</strong></h5>
        <ul class="">
          <li>A limit applies to the number of times you may book, cancel and rebook a single class.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Booking Window</strong></h5>
        <ul class="">
          <li>Classes are available for booking only until 5 minutes before the scheduled start time of the class. Classes are only available for booking once displayed on The Space’s online booking system.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-6">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-6" aria-expanded="false" aria-controls="collapse-1-6">
        Change to Service
      </button>
    </h2>
    <div id="collapse-1-6" class="accordion-collapse collapse" aria-labelledby="heading-1-6"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <h5 class="mb-2"><strong>Minimum Class Guarantee</strong></h5>
        <h6><em>The Space Unlimited Package</em></h6>
        <ul class="mb-2">
          <li>The specific number, type, instructor and timings of classes available may fluctuate and are not guaranteed, however The Space guarantees to run <em>at least</em> 1 class per day between Monday & Saturday (excluding Public Holidays). Packages will be frozen for the day or days where the Minimum Class Guarantee has not been met. Where the Minimum Class Guarantee is met, Packages will not be frozen as a result of such fluctuations.</li>
        </ul>
        <h6><em>Fixed Maximum Class Package</em></h6>
        <ul class="">
          <li>Members can expect classes to run on at least the same number of days per week throughout the term of their Package as were generally running when they bought their Package, unless a reduction was communicated at the time of purchase. The specific numbers and timings of classes available may fluctuate and are not guaranteed. Where the number of days per week that a class is run is reduced, a proportionate extension to the Package validity will be made. The adjustment will be based on how many days per week classes normally run per week and on how many days classes actually ran.</li>			
        </ul>
        <h5 class="mt-4 mb-2"><strong>In-Person</strong></h5>
        <ul class="">
          <li>It is intended that classes are in-person, however where the law prevents or substantially limits in-person classes, online classes may be used as a substitution during a restricted period.</li>
        </ul>
        <h5 class="mt-4 mb-2"><strong>Notice</strong></h5>
        <ul class="">			
          <li>The specific number, type, instructor and timings of classes available may fluctuate and are not guaranteed. The Space may change any of these without notice. Packages will in no circumstance be amended, due to change in service, but may be frozen where the Minimum Class Guarantee described above is not met.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
