<section class="mb-5">
	<div class="container">
		<div class="row">
			<h4>Charges & Deductions</h4>			        
			<table class="table table-secondary table-striped caption-top text-center">
				<thead>
					<tr style="background-color:white;">
						<th></th>
						<th>UNLIMITED CLASS</th>
						<th>FIXED MAXIMUM CLASS</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Early Cancellation</th>
						<td>nil*</td>
						<td>nil*</td>
					</tr>
					<tr>
						<th>Late Cancellation</th>
						<td>1 day</td>
						<td>1 class</td>
					</tr>
					<tr>
						<th>No Show</th>
						<td>2 days</td>
						<td>1 class</td>
					</tr>
				</tbody>
			</table>

			<table class="table table-secondary table-striped caption-top text-center">
				<thead>
					<tr style="background-color:white;">
						<th>MODIFICATION</th>
						<th>Rs. (GST in addition)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Freeze</th>
						<td>650</td>
					</tr>
					<tr>
						<th>Transfer</th>
						<td>2,500</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
