<section class="mb-5" id="policy">
	<div class="container">
		<div class="row">
			<h4>Payment Policy</h4>
			<h5 class="mb-0 fst-italic mt-4">SERVICES AVAILABLE FOR PURCHASE</h5>
			<p class="GeneralText mb-2">The Space offers the following services for purchase. It may from time to time expand or reduce these offerings:</p>
			<ul class="GeneralText fw-bold ps-5">
				<li>Fitness Services</li>
				<li>In Studio Group Classes</li>
				<li>Private Training</li>
				<li>Workshop</li>
				<li>Online Group Classes</li>
				<li>Assessments & Tests</li>
				<li>Rental Services</li>
				<li>Flexible Term Studio Rental</li>
				<li>Long Term Studio Rental</li>
			</ul>						

			<h5 class="mb-0 fst-italic mt-4">MAKING A PURCHASE</h5>
			<ul class="GeneralText fw-bold ps-5">
				<li>Purchases of our services can be made through our website <a href="https://www.thespacefitness.in" >www.thespacefitness.in</a>, by contacting us at Whatsapp on +919619348427 or in person at The Space, A.B. Nair Rd, Juhu, Mumbai, Maharashtra 400049.</li>
				<li>Full payment must be received before any purchase will be confirmed.</li>
				<li>Deposits may be required under certain circumstances.</li>
				<li>By making a purchase of any ‘Fitness Service’, you acknowledge and agree to abide by The Space’s Terms of Use & Package Policy.</li>
				<li>By making a purchase of any ‘Rental Service’, you acknowledge and agree to abide by The Space’s Terms of Use & Rental Policy.</li>
			</ul>			

			<h5 class="mb-0 fst-italic mt-4">PAYMENT OPTIONS</h5>
			<ul class="GeneralText fw-bold ps-5">
				<li>All purchases must be paid for in full in advance.</li>
				<li>We accept the following payment methods: Paytm/UPI/Gpay/Creditcard/Bank Transfer/Cash.</li>
				<li>Part payment for services is not accepted.</li>
				<li>We do not accept credit.</li>
			</ul>					

			<h5 class="mb-0 fst-italic mt-4">PRICING POLICY</h5>
			<ul class="GeneralText fw-bold ps-5">
				<li>Prices listed or stated apply at the current date, however they are subject to change without advance notice.</li>
				<li>Where special rates are stated as applying for a particular time period, these rates do not apply outside of that time period.</li>
				<li>All prices are in Indian Rupees.</li>
				<li>Our services are liable for GST in India.</li>
			</ul>					

			<h5 class="mb-0 fst-italic mt-4">CANCELLATION & REFUND POLICY</h5>
			<ul class="GeneralText fw-bold ps-5">
				<li>All purchases of ‘Fitness Services’ cannot be cancelled, cannot be extended, are non-refundable and non transferable unless explicitly stated otherwise in The Space’s Package Policy.</li>
				<li>All purchases of ‘Rental Services’ at The Space cannot be cancelled, cannot be extended, are non-refundable and non transferable unless explicitly stated otherwise in The Space’s Rental Policy.</li>
			</ul>				

			<h5 class="mb-0 fst-italic mt-4">POLICIES OF OTHER ENTITES OPERATING AT THE SPACE</h5>
			<ul class="GeneralText fw-bold ps-5">
				<li>Purchases from other entities operating at The Space are subject to the policies of those entities over which The Space has no ownership nor control. The Space takes no responsibility or liability for the details of these policies.</li>
			</ul>					
		</div>
	</div>
</section>
