<div class="container px-1 margin-override">
  <h4>Administrator & Instructor Accounts</h4>
</div>
<div id="accounts-table" class="container px-0 mb-5 margin-override">
  <%= render partial: 'superadmin/accounts/accounts_table' %>
</div>

