<h1>Editing Rel Workout Group Workout</h1>

<%= render 'form', rel_workout_group_workout: @rel_workout_group_workout %>

<%= link_to 'Show', @rel_workout_group_workout %> |
<%= link_to 'Back', rel_workout_group_workouts_path %>
