<div id="achievements-table" class="container px-0 mb-5">
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Date</div>
      <div class="column col-1x">Score</div>
      <div class="column col-1x">Client</div>
      <div class="column col-1x">Challenge</div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
  </div>
  <div class="admin-table striped">
    <%= render @achievements %>
  </div>
</div>
