<h6 class='text-uppercase'>no health issues apply</h6>
<div>
  <input type="checkbox" id="none" <%= 'checked' if @declaration.none? %> disabled=true>
  <label for="none" class='d-inline'>None of these issues apply to me</label>
</div>
<hr>