<div class="row">
  <div class="column col-1x"><%= link_to timetable.title, timetable, class: 'like_button'  %></div>
  <div class="column"><%= link_to image_tag('edit.png', class: "table_icon"), edit_timetable_path(timetable), data: { turbo: false } %></div>
  <div class="column"><%= link_to image_tag('delete.png', class: "table_icon"), timetable, data: { turbo_method: :delete, turbo_confirm: 'Timetable will be deleted. Are you sure?' }%></div>
  <div class="column"><%= link_to image_tag('clipboard.png', class: "table_icon"), timetable_deep_copy_path(timetable), data: { turbo_method: :post, turbo_confirm: "A copy of this timetable, it's times, days and entries will be created. Are you sure?" }%></div>
</div>


