<div id="timetable-table" class="container px-1 mb-5 margin-override">
  <table class="table table-secondary table-striped">
    <tbody>
      <%= render @timetables %>
    </tbody>
  </table>
</div>
