<div class="container px-1 margin-override">
  <h4> Timetables <%= link_to image_tag('add.png', class: "button_icon"), new_admin_timetable_path %></h4>
</div>
<%= render partial: 'timetables_table' %>


