<% if @renewal.new_client? %>  
  <div class="text-center bg-black inverted">
    <div class="trial-name pt-2 mb-1">unlimited 1 week trial</div>
    <%=  render 'razor_form_trial' %>
    <div class="trial-tagline pb-3 mt-1 tagline">
      <p class="tagline-sm">Try our classes. Meet our people</p>
    </div>
  </div>
<% end %>
