<div class="container mt-2">
  <ul class="text-secondary value-statement">
    <li><%= link_to 'Terms & Conditions', '/terms&conditions' %> apply</li>
    <li>Prices include GST</li>
    <li>Payment portal convenience fee applied at checkout</li>
  </ul>
</div>
