<% @wkclass.clients.each do |client| %>
  <div class ="d-flex bg-light">
      <div class ="cell c-class-name"><%= client.name %></div>
      <div class ="cell c-class-date"><%= client.product_for_class(@wkclass).name %></div>
      <div class ="cell c-class-time"><%= client.revenue_for_class(@wkclass) %></div>
      <% attendance = client.attendances.where(wkclass_id: @wkclass.id).first %>
      <div class ="cell c-class-icon">
        <%= link_to image_tag('delete.png', class: "table_icon"), attendance, method: :delete, data: { confirm: 'Class and its attendances will be deleted. Are you sure?' }, class: "icon-container" %>
      </div>
  </div>
<% end %>
