<h3 class="mt-4 text-center fw-bolder">Personal Training at The Space</h3>
<p>For clients committed to achieving specific objectives, or who wish to accelerate their progress, The Space offers a bespoke Personal Training Service (<i>PTS</i>). We take our responsibility supporting clients to achieve their goals seriously and can work effectively with clients who are able to demonstrate the level of dedication required to make their objectives a reality.</p>
<div class="accordion accordion-highlight" id="accordion-1">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-2">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
        PTS Summary
      </button>
    </h2>
    <div id="collapse-1-2" class="accordion-collapse collapse" aria-labelledby="heading-1-2"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p class="text-secondary"><i>PTS</i> provides:
          <ul>
            <li>an initial Assessment</li>
            <li>an objective focused, customised training plan with an <i>Assigned Coach</i>, delivered through 1-1 <i>Sessions</i> at pre-decided <i>Time Slots</i> over a fixed period of time</li>
            <li><i>Rider Benefits</i> as applicable to the service.</li>
          </ul>
        </p>
        <p>Details of <i>Assigned Coach</i>, <i>Time Slots</i>, maximum number of <i>Sessions</i>, duration of validity and <i>Rider Benefits</i> (if any) are clearly detailed at the time of purchase.</p>
        <p>Your <i>Assigned Coach</i> will have appropriate skills, qualifications and experience to help you achieve your objectives and is responsible for implementing your service and leading your <i>Sessions</i>.</p>
        <p>Your <i>Time Slots</i> are fixed periods of time on fixed days of the week for which you have requested your <i>PTS</i> <i>Sessions</i> to be regularly delivered during the duration of your <i>PTS</i>. For example M/W/F 10.00am - 11.00am.</p>
        <p>Each <i>Session</i> is 60 minutes of dedicated 1-1 training led by your <i>Assigned Coach</i> and includes warm up, workout & cooldown.</p>
        <p><i>Sessions</i> in your <i>PTS</i> are conducted at The Space's physical premises except for specific reasons set out in this policy. The actual training will typically be in an indoor studio and selected at your <i>Assigned Coach</i>'s discretion based on the requirements of the <i>Session</i> plan. Each <i>Session</i> will not necessarily be conducted in the same studio. The studio will typically be indoors, but on occasions it may be in an outdoor area if your <i>Assigned Coach</i> determines it more suitable.</p>
        <p><i>PTS</i> does not provide exclusive studio use. It is to be expected that other clients and their coaches will be training simultaneously in the same studio as you during your <i>Sessions</i>.</p>
        <p>Only the client, who completed the <i>Assessment</i> and for whom the <i>PTS</i> has been designed can use the <i>PTS</i> and attend <i>Sessions</i> or use <i>Rider Benefits</i> within the <i>PTS</i>.</p>
        <p>To maximise likelihood of successfully achieving your goals, it is expected you attend all the <i>Sessions</i> at the times and dates pre-arranged, however your <i>PTS</i> is designed with flexibility to accommodate changes by either moving <i>Sessions</i> to a <i>Time Slot</i> at a later date (within your <i>PTS</i> <i>Validity Period</i>) or (where there is availability) to other <i>Time Slots</i> entirely (within your <i>PTS</i> <i>Validity Period</i>). However there are limits and restrictions to these as described under <i>Booking, Cancelling & Rescheduling a Session</i>.</p>
        <p>Your <i>PTS</i> (including <i>Rider Benefits</i>, if any) cannot be cancelled, refunded, adjusted, transferred, frozen or otherwise modified in any way except under very specific circumstances (as described in this policy).</p> 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-3">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
        Session Use and PTS validity
      </button>
    </h2>
    <div id="collapse-1-3" class="accordion-collapse collapse" aria-labelledby="heading-1-3"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p>A <i>Used Session</i> is any <i>Session</i> you fully or partly attended or was a <i>Late Cancellation</i> or a <i>No Show</i>.</p>
        <p><i>Used Session</i> count <em>in full</em> towards the maximum number of Sessions.</p>
        <p>The <i>PTS</i> <i>Validity Period</i> starts on the day of the first <i>Used Session</i> (or 1 week after your <i>Assessment</i> if earlier).</p>
        <p>The <i>PTS</i> <i>Validity Period</i> ends on the earlier of:
        <ol>
          <li>the date the maximum number of <i>Sessions</i> is attended</li>
          <li>the close of day on the day prior to the day the <i>PTS</i> <i>Validity Period</i> starts + the period of validity + the period of any extensions that may have been given (as a result of modifications, as set out under <i>Modifications</i> below)</li>
          <li>The <i>Sunset Date</i></li>
        </ol>
        </p>
        <p>Once the <i>Validity Period</i> has passed, the <i>PTS</i> is expired, irrespective of whether the maximum number of <i>Sessions</i> has been attended or not and no further <i>Sessions</i> may then be attended (nor <i>Rider Benefits</i> used) within that <i>PTS</i>.</p>
        <h5 class="mt-4 mb-2"><strong>Sunset Date</strong></h5>
        <p class="mb-2">Your <i>PTS</i> expires after a fixed period of time from the date of purchase, regardless of amount of use. In particular, purchases that are made, but not used do not have indefinite validity and expire after a fixed time. Sunset dates are:
          <ul class="" style="list-style-type: none">
            <li>the date of purchase:</li>
            <li>+ the original validity duration of the purchase</li>
            <li>+ 6 weeks</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-4">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-4" aria-expanded="false" aria-controls="collapse-1-4">
        Assessment
      </button>
    </h2>
    <div id="collapse-1-4" class="accordion-collapse collapse" aria-labelledby="heading-1-4"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p>An <i>Assessment</i> is an essential part of your <i>PTS</i> and is required before your <i>Sessions</i> start. Once payment has been made, your <i>Assigned Coach</i> will schedule an <i>Assessment</i> to understand your goals, current physical condition and any relevant medical issues.</p>
        <p>If the <i>Assessment</i> identifies no obstacles (for example medical factors) to delay the start of your <i>Sessions</i>, they will start within 1 week of the <i>Assessment</i>.</p>
        <p>In specific circumstances, further medical investigations will be required. In such a case your first <i>Session</i> (and start of your <i>Validity Period</i>) will be postponed pending clarity from your healthcare provider.</p>
        <p>If a medical issue is identified, where we cannot safely and responsibly continue your training or we are unable to safely and responsibly help you achieve your desired goals, we will cancel your purchase and refund payment after deducting a reasonable charge for the <i>Assessment</i>, any part of the PTS that may have been used, and any necessary interaction with your healthcare provider.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-5">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-5" aria-expanded="false" aria-controls="collapse-1-5">
        Closures
      </button>
    </h2>
    <div id="collapse-1-5" class="accordion-collapse collapse" aria-labelledby="heading-1-5"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <h5 class="mb-2"><strong>Public Holidays & Other Short Closures</strong></h5>      
        <p>Your <i>PTS</i> is flexibly designed to accommodate a certain level of unpredictable changes and no additional extensions are provided where an event occurs which is known about in advance, typical, minor or modestly impactful.</p>
        <p>Public holidays are included in the <i>Validity Period</i> of your <i>PTS</i> and no additional extensions are provided to accommodate Public Holidays.</p>
        <p>On rare occasions, The Space may be closed for repair, maintenance or in the event of unforeseeable circumstances (for example extreme weather events like flooding).</p>
        <p>In such situations and where this affects one of your <i>Sessions</i>, you may simply rebook your affected <i>Session</i> for a later <i>Time Slot</i> within the <i>Validity Period</i> of your <i>PTS</i> (a <i>Rebook</i>). Alternatively, based on your <i>Assigned Coach</i> and/or studio availability, it may be possible to <i>Reschedule</i> the affected <i>Session</i> to a different <i>Time Slot</i> within the Validity period of your <i>PTS</i> (see under <i>Booking, Cancelling & Rescheduling a Session</i>)</p>
        <p>If a <i>Rebook</i> is not convenient for you and a <i>Reschedule</i> is not possible, no adjustments or extensions are made to your <i>PTS</i> and it may be that you will not be able to complete the maximum number of <i>Sessions</i> in your <i>PTS</i>, due to the Validity Period ending.</p>
        <h5 class="mb-2"><strong>Extended Closure</strong></h5>   
        <p>In extreme circumstances, The Space may have to close its physical premises for a substantial period of time. During this period, live online <i>Sessions</i> may be provided as a substitution for in-person <i>Sessions</i>.</p>
        <p>In such circumstances, where online <i>Sessions</i> have been offered, extensions, refunds or any other modifications are not available and your <i>PTS</i> can be used and will expire in the normal manner.</p>
        <p>Where online substitution has <i>not</i> been offered and your PTS has instead had to be frozen, the freeze will end immediately on the same day that the Space announces it is able to resume providing in-person Sessions. Further  extensions, refunds or any other modifications will not be available, regardless of whether the day of resumption is convenient for you or not.<p>     
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-6">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-6" aria-expanded="false" aria-controls="collapse-1-6">
        Injury & Illness
      </button>
    </h2>
    <div id="collapse-1-6" class="accordion-collapse collapse" aria-labelledby="heading-1-6"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p>If after starting your <i>PTS</i> you become ill or injured, you may request a <i>Medical Freeze</i> with Doctor certification in the following way:
          <ul>
            <li>Make a written request to the Space to freeze your <i>PTS</i> between 2 specific dates, subject to a maximum of 6 weeks, specifying the injury or illness that has made the withdrawal from exercise necessary. <i>Medical Freeze</i>s cannot be accepted without specific start and reason.</li>
            <li>Provide a doctor's note corroborating the injury or illness and the time period for which complete withdrawal from exercise is necessary.</li>
          </ul>
        </p>
        <p>The <i>Medical Freeze</i> will start no earlier than the date The Space receives the corroborating doctor's note.</p>
        <p>If the doctor does not provide a date when exercise can resume or a time period for which rest is necessary, a <i>Medical Freeze</i> will be applied for no more than a maximum of 14 days. If you need longer to recover, you will need to repeat this process, requesting a further <i>Medical Freeze</i> and providing another doctor's letter. Your <i>PTS</i> will not be frozen for any period where a corroborating doctor's letter has not been provided in the correct manner and time-frame.</p>
        <p>If you attend a <i>Session</i> or make use of any <i>Rider Benefits</i> during the period of your <i>Medical Freeze</i>, your <i>Medical Freeze</i> will end on the day before your attendance. If you wish to freeze your <i>PTS</i> again after the attendance, you will need to complete the process again for a new <i>Medical Freeze</i> and provide another doctor's letter in the manner described above. Your <i>Medical Freeze</i> will not be frozen in the meantime.</p>
        <p>A <i>Medical Freeze</i> will be implemented by first determining how many <i>Time Slots</i> the period of the medical Freeze overlaps with. To the extent that this is greater than the number of unused <i>Time Slots</i> within your <i>PTS</i>, your <i>Validity Period</i> will be extended so that you have that same number of additional <i>Time Slots</i> available to you (though, note below it may be necessary for the actual timings of these <i>Sessions</i> if outside the original <i>Validity Period</i> to run at different times to the original <i>Time Slots</i>.)</p>
        <p>Where a <i>Medical Freeze</i> extends the <i>Validity Period</i>, there is no guarantee that any <i>Session</i> outside of the original <i>Validity Period</i> will be run either by your <i>Assigned Coach</i> or at the time of the original Time Slot. The Space shall make reasonable efforts to provide an equivalent coach at a suitable time (inside the new Validity period) in such circumstances, however your <i>PTS</i> is non-refundable and payment will not be refunded and the <i>PTS</i> will not in any other way be modified in the case of a change of <i>Time Slot</i> or <i>Assigned Coach</i> following a <i>Medical Freeze</i>.</p>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-7">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-7" aria-expanded="false" aria-controls="collapse-1-7">
        Pregnancy
      </button>
    </h2>
    <div id="collapse-1-7" class="accordion-collapse collapse" aria-labelledby="heading-1-7"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
        <p>If after starting your <i>PTS</i>, you become pregnant, your objectives as well as your physical capabilities will more than likely change! We recommend notifying your <i>Assigned Coach</i> at the earliest opportunity and sharing your healthcare provider's recommendations with respect to exercise. Your objectives can then be re-assessed in light of your new situation and your <i>Assigned Coach</i> can modify your training plan accordingly. We have coaches, who are competent to train pre & post natal. If your <i>Assigned Coach</i> does not have this level of competence, then you may, subject to coach availability, pay any difference in charge and shift your <i>Assigned Coach</i> to one able to handle your changed circumstances.</p>
        <p>We would not permit training to continue with an <i>Assigned Coach</i>, not equipped to handle pre-natal training. Your <i>PTS</i> is non-refundable and payment will not be refunded should you not wish to change to a suitable coach to match your changed circumstances.</p>
        <p>In the event that exercising is not permitted by a healthcare provider due to pregnancy or fertility treatment, you may request a <i>Medical Freeze</i> with Doctor certification in the same way as described under <i>Injury and Illness</i>.</p> </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-8">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-8" aria-expanded="false" aria-controls="collapse-1-8">
        Booking, Cancelling & Rescheduling a Session
      </button>
    </h2>
    <div id="collapse-1-8" class="accordion-collapse collapse" aria-labelledby="heading-1-8"
      data-bs-parent="#accordion-1">Time Slot 
      <div class="accordion-body">
      <ul>
        <li>The <i>Assigned Coach</i>, <i>Time Slots</i>, <i>Session</i> dates and times are booked and confirmed at the time of purchasing a <i>PTS</i>.</li>
        <li>A <i>Dedicated Whatsapp Group</i> will be established for administrative communication between you and your your <i>Assigned Coach</i> and The Space’s support team.</li>
        <li>If you need to cancel a <i>Session</i>, you must send a message to your <i>Assigned Coach</i> on your <i>Dedicated Whatsapp Group</i> explicitly stating you are cancelling a <i>Session</i> on a given date and time. Any correspondence that is unclear, uncertain, does not specify date and time or is made via verbal or personal correspondence to your <i>Assigned Coach</i> or anyone else, outside of the <i>Dedicated Whatsapp Group</i> is not a valid cancellation and the <i>Session</i> will be treated as a <i>No Show</i> (see under <i>Cancellation Windows</i>) if you do not attend.</li>
      </ul>
      <h5 class="mb-1"><strong><i>Session</i> Duration</strong></h5>  
      <ul>
        <li>All <i>PTS</i> <i>Sessions</i> are 60 minutes long unless specified otherwise at the time of Purchase.</li>
        <li>If you arrive late for your <i>Session</i>, the <i>Session</i> will still end at the arranged time, your <i>Session</i> will be shorter by the time you arrived late by and the <i>Session</i> will be a <i>Used Session</i>.</li>
      </ul>
      <h5 class="mb-1"><strong>Cancellation Windows</strong></h5>  
      <ul>
        <li>If you cancel a <i>Session</i> (using the correct mechanism described above and subject to limits described below) prior to 6 hours before the start time of the <i>Session</i>, this is considered an <i>Early Cancellation</i>. An <i>Early Cancellation</i> is not considered a <i>Used Session</i>. In the case of an <i>Early Cancellation</i> and subject to limits, the <i>Session</i> may be <i>Rebooked</i> or <i>Rescheduled</i> within the <i>Validity Period</i>.</li>
        <li>If you cancel a session less than 6 hours before the start time of the session, this is considered a <i>Late Cancellation</i>. A <i>Late Cancellation</i> is considered a <i>Used Session</i>. A <i>Late Cancellation</i> cannot be rebooked, rescheduled or in any way reinstated.</li>
        <li>If you cancel a session after 10 minutes before the start time of the <i>Session</i> or simply do not show up to the <i>Session</i>, this is considered a <i>No Show</i>. A <i>No Show</i> is considered a <i>Used Session</i> and cannot be rebooked, rescheduled or in any way reinstated.</li>
      </ul>
      <h5 class="mb-1"><strong>Rebooking a Session</strong></h5>  
      <ul>
        <li><i>Rebooking</i> a <i>Session</i> means formally confirming the new date of an <i>Early Cancellation</i> to an available <i>Time Slot</i> within your <i>Validity Period</i>.</li>
        <li>To <i>Rebook</i> a <i>Session</i>, you must have already correctly early cancelled the original <i>Session</i> and you must send a message to your <i>Assigned Coach</i> on the dedicated Whatsapp group for your <i>PTS</i> explicitly stating the date and time you wish to <i>Rebook</i> to. Any correspondence that is unclear, uncertain, does not specify date and time or is made via verbal or personal correspondence to your <i>Assigned Coach</i> or anyone else, outside of the <i>Dedicated Whatsapp Group</i>, is not a valid <i>Rebook</i> and the intended booking will not be scheduled.</li>
        <li>Within each <i>PTS</i>, you can <i>Rebook</i> a maximum of 4 times.</li>
      </ul>
      <h5 class="mb-1"><strong>Rescheduling a Session</strong></h5>
      <ul>
        <li>Rescheduling a <i>Session</i> means formally agreeing the new date of an <i>Early Cancellation</i> to an alternative date and time within your <i>Validity Period</i> that is not at your usual <i>Time Slot</i> for which you, your Assigned coach and the studio has availability.</li>
        <li>You should make a request to your <i>Assigned Coach</i> to <i>Reschedule</i> your <i>Session</i>. Your <i>Assigned Coach</i> will review their schedule and the studio’s schedule and attempt to find an available alternative date and time. If there is availability, the Assigned Coach may verbally agree this with you and then formally confirm the date and time explicitly on your <i>Dedicated Whatsapp Group</i> for your <i>PTS</i>. You must immediately explicitly on the Whatsapp group agree to this Reschedule. If you delay confirming, the alternate date and time will not be reserved and may no longer be available to you and you may not be able to exercise a <i>Reschedule</i> of the <i>Early Cancellation</i>.</li>
        <li>Within each <i>PTS</i>, you can <i>Reschedule</i> a maximum of 3 times.</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-9">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-9" aria-expanded="false" aria-controls="collapse-1-9">
        Ancillary Services (Rider Benefits)
      </button>
    </h2>
    <div id="collapse-1-9" class="accordion-collapse collapse" aria-labelledby="heading-1-9"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
      <p>A <i>PTS</i> may be sold with a discretionary <i>Rider Benefit</i> included, for example a Package of group classes, access to our <i>Open Gym</i>  or services provided by third-parties, like nutrition, physiotherapy and massage. If a <i>Rider Benefit</i> is included in your <i>PTS</i> it will be clearly stated at the time of sale. Rider benefits are always discretionary and subject to change without notice and maybe withdrawn without reason before or after sale.</p>
      <h5 class="mb-1"><strong>Group Class Package</strong></h5>
      <p>The terms of your Group Class <i>Rider Benefit</i> are the same as for purchased <i>Group Class Packages</i> as set out on the <i>Group Policy</i> section of our website, except in the following respects:</p>      
      <ul>
        <li>The <i>Package</i> may not be frozen</li>
        <li>Group Class spaces are limited and must be booked using The Space's membership system. You may not turn up without booking.</li>
        <li>Classes are available to book only after completing the first <i>Session</i> of your <i>PTS</i>.</li>
        <li>The <i>Package</i> expires no later than the date of expiry of your <i>PTS</i>.</li>
        <li>You may book classes no later than the date of your final booked <i>Session</i> within your <i>PTS</i>.</li>
      </ul>
      <h5 class="mb-1"><strong>Open Gym</strong></h5>
      <p>During certain times, set out on The Space's website, the studio and its facilities are available for <i>Open Gym</i>  (self training at The Space's studios) without the support of a coach.</p>
      <ul>
        <li><i>Open Gym</i>  spaces are limited and must be booked using The Space's membership system. You may not turn up without booking.</li>
        <li><i>Open Gym</i>  is only available to book within the <i>Validity Period</i> of your <i>PTS</i>.</li>
        <li>For your safety, equipment that you may be familiar with using with your <i>Assigned Coach</i> may not be available during <i>Open Gym</i> .</li>
      </ul>      
      <h5 class="mb-1"><strong>Third Party Services</strong></h5>  
      <ul>
        <li>These services must be booked at The Space’s main reception</li>
        <li>Once confirmed the terms and conditions of the service provider apply to your booking. These will be communicated to you when your service is confirmed.</li>
        <li>Third Party Services are available to book and use only within the validity of your <i>PTS</i>.</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-10">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-10" aria-expanded="false" aria-controls="collapse-1-10">
        Change to Service
      </button>
    </h2>
    <div id="collapse-1-10" class="accordion-collapse collapse" aria-labelledby="heading-1-10"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
      <p>While The Space will endeavour to provide <i>Sessions</i> in the specific way discussed at point of sale, it may at its discretion make adjustments to the details of the <i>Sessions</i> without changing the overall essence of the <i>PTS</i> or reducing its overall value.</p>
      <p>In particular:</p>      
      <ul>
        <li>Your <i>Assigned Coach</i> is not guaranteed and may be changed to an alternative coach of at least an equivalent seniority.</li>
        <li>The specific studio and preferred <i>Time Slots</i> are not guaranteed.</li>
      </ul>
      <p>The Space may change any of these or other without notice.</p>
      <p><i>Rider Benefits</i> as set out under Ancillary Services are not part of your <i>Sessions</i>. The details of these or the provision of them at all is entirely discretionary.</p>
      <p>Your <i>PTS</i> will not be refunded, adjusted, transferred or frozen as a result of any such change to service we may make.</p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-11">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-11" aria-expanded="false" aria-controls="collapse-1-11">
        Unavailability of Coach 
      </button>
    </h2>
    <div id="collapse-1-11" class="accordion-collapse collapse" aria-labelledby="heading-1-11"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
      <h5 class="mb-1"><strong>Temporary Unavailability</strong></h5>
      <ul>
        <li>On rare occasions your <i>Assigned Coach</i> may be unavailable to train you at a booked Session.</li>
        <li>In the case that your <i>Assigned Coach</i> is temporarily unavailable, The Space will endeavour to provide an appropriately briefed, substitute coach of suitable experience for the booked Session.</li>
        <li>If you do not wish to proceed with the booked session with the substitute coach, you may cancel the <i>Session</i> in the normal way as described under <i>Booking, Cancelling & Rescheduling a Session</i> and <i>Rebook</i> or attempt to <i>Reschedule</i> the <i>Session</i> in the normal way.</li>
        <li>Your <i>PTS</i> will not be refunded, adjusted, transferred or frozen as a result of the temporary unavailability of your <i>Assigned Coach</i>, where a substitute coach is offered.</li>
      </ul>
      <h5 class="mb-1"><strong>Permanent Unavailability</strong></h5>
      <ul>
        <li>In the case that your <i>Assigned Coach</i> is permanently unavailable (for example your <i>Assigned Coach</i> no longer works for The Space), The Space will endeavour to replace your <i>Assigned Coach</i> with an appropriately briefed, substitute coach of the same or higher seniority as your original <i>Assigned Coach</i> for the remaining duration of your <i>PTS</i>.</li>
        <li>Your <i>PTS</i>  will not be refunded, adjusted, transferred or frozen as a result of the permanent unavailability of your <i>Assigned Coach</i>, where a substitute coach is offered.</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-12">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-12" aria-expanded="false" aria-controls="collapse-1-12">
        Payment
      </button>
    </h2>
    <div id="collapse-1-12" class="accordion-collapse collapse" aria-labelledby="heading-1-12"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
      <h5 class="mb-1"><strong>First <i>PTS</i></strong></h5>
      <ul>
        <li>Full payment must be made before your initial <i>Assessment</i></li>
      </ul>
      <h5 class="mb-1"><strong><i>PTS</i> Renewal</strong></h5>
      <ul>
        <li>Full payment must be made a minimum of 10 days before the first <i>Session</i> of your new <i>PTS</i>. We will not commit to keeping <i>Time Slots</i> available where we have not received payment in the correct time-frame.</li>
        <li>You must clear complete payment for your <i>PTS</i> <em>before</em> attending any <i>Session</i> or using any <i>Rider Benefits</i>.</li>
      </ul>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-1-13">
      <button class="accordion-button fs-4 collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapse-1-13" aria-expanded="false" aria-controls="collapse-1-13">
        Renewal
      </button>
    </h2>
    <div id="collapse-1-13" class="accordion-collapse collapse" aria-labelledby="heading-1-13"
      data-bs-parent="#accordion-1">
      <div class="accordion-body">
      <p>Your <i>PTS</i> is highly personalised with a dedicated coach for the purpose of helping you achieve your goals.</p>
      <p>Poor punctuality, cancellations, low motivation or focus during the <i>Sessions</i> will undermine the prospects of you achieving your goals and defy the purpose of your <i>PTS</i>. If you are unable to maintain regular attendance at your <i>Session</i> and follow the instructions of your <i>Assigned Coach</i> during your <i>Sessions</i>, The Space may decline to renew your <i>PTS</i> and propose a more suitable training option.</p>
    </div>
  </div>  
</div>
