<section class="mb-5" id="policy">
	<div class="container">
		<div class="row">
			<h4>About Us</h4>
			<p class="GeneralText">
			Local & Proud since 2014! The Space is Juhu’s leading Strength & Conditioning studio, encouraging sustainable long term fitness ‘beyond aesthetics’ and promoting a love
			for movement among its patrons. We provide a body-positive, all-inclusive training environment with coaches that care and great company that will make sure that
			getting fit never gets boring.</p>
			<p class="GeneralText">An oasis for all things healthy hidden in the heart of maximum city. Besides offering a variety of in-house classes, The Space also serves as a
			fitness coworking venue, facilitating entrepreneurship among fitness and wellness experts and promoting a love for movement among its patrons within a peaceful environment
			that is a rare find in Mumbai. We truly believe that movement heals - and great coaches drive you to keep moving!
			</p>
			<h5 class="mb-0 ">Our vision</h5>
			<p class="GeneralText">To build a hub where fitness & wellness lifestyle enthusiasts, practitioners and professionals can come together to nurture a culture of movement,
			inclusivity and longevity.</p>
			<h5 class="mb-0">Services<br>
			<small class="fst-italic">For Fitness Enthusiasts - Seasoned & Aspiring</small></h5>
			<p class="GeneralText">
			Burn calories, build strength, increase flexibility or find zen - we will help you find your excuse to move! From in-studio group classes and tailored private training,
			live, online fitness classes and speciality workshops & events, our trainers lead high quality classes while giving individual attention and safe training in a clean,
			comfortable, peaceful and homely set up.</p>
			<h5 class="mb-0 fst-italic"><small class="fst-italic">For Professionals</small></h5>
			<p class="GeneralText"> We are committed to providing a high quality venue with a supportive atmosphere for fitness & wellness entrepreneurs to build their business
			as well as collaborate to deliver the best service for our patrons, all under one roof. Our versatile venue, unique to Mumbai with 3 high-specification boutique studios and
			a garden, can be flexibly hired for classes, rehearsals, training, consultancy & workshops, lifestyle experiences, nutrition & wellness events, performing arts & meetups.
			The Space also partners with start up professionals to incubate their businesses through partnership, consultancy & endorsement.
			</p>
		</div>
	</div>
</section>
