<section class="mb-5">
	<div class="container">
  	<h4>Charges & Deductions</h4>			
    <div class="admin-table striped mt-2">
      <div class="row fw-bolder thead extra-small">
        <div class="column col-1x"></div>
        <div class="column col-1x">UNLIMITED CLASS</div>
        <div class="column col-1x">FIXED MAXIMUM CLASS</div>
      </div>
      <div class="row">
        <div class="column col-1x">Early Cancellation</div>
        <div class="column col-1x">nil*</div>
        <div class="column col-1x">nil*</div>
      </div>
      <div class="row">
        <div class="column col-1x">Late Cancellation</div>
        <div class="column col-1x">1 day</div>
        <div class="column col-1x">1 class</div>
      </div>
      <div class="row">
        <div class="column col-1x">No Show</div>
        <div class="column col-1x">2 days</div>
        <div class="column col-1x">1 class</div>
      </div>
      <div class="row">
        <div class="column col-1x">* late cancellation deductions apply if occurs regularly</div>
      </div>
    </div>

    <div class="admin-table striped mt-2">
      <div class="row fw-bolder thead">
        <div class="column col-1x">MODIFICATION</div>
        <div class="column col-2x extra-small">Rs.</div>
      </div>
      <div class="row">
        <div class="column col-1x">Freeze</div>
        <div class="column col-2x"><%=number_with_delimiter(Setting.freeze_charge)%></div>
      </div>
      <div class="row">
        <div class="column col-1x">Transfer</div>
        <div class="column col-2x"><%=number_with_delimiter(Setting.transfer_charge)%></div>
      </div>
      <div class="row">
        <div class="column col-1x">Restart <br><small>(Minimum Payment)</small></div>
        <div class="column col-2x"><%=number_with_delimiter(Setting.restart_min_charge)%></div>
      </div>
    </div>
  </div>
</section>