<div class="text-center mb-3">
  <h2>
    <form action=<%= client_achievements_path(@client) %> method="GET" data-turbo-frame="achievement_chart" >
      <select name="challenge_id" onchange="this.form.requestSubmit()" class= "sort">
        <%= options_for_select @challenges_entered, session[:challenge_id] %>
      </select>
    </form>
  </h2>
</div>
