<div class="admin-table striped mt-2">
  <div class="row">
    <div class="column col-1x">Email</div>
    <div class="column col-1x"><%= @client.email %></div>
  </div>
  <% unless @client.phone.blank? %>
    <div class="row">
      <div class="column col-1x">Phone</div>
      <div class="column col-1x"><%= @client.phone&.phony_formatted(format: :international, spaces: '-') %></div>
    </div>  
  <% end %>    
  <% unless @client.whatsapp.blank? %>
    <div class="row">
      <div class="column col-1x">Whatsapp</div>
      <div class="column col-1x"><%= @client.whatsapp&.phony_formatted(format: :international, spaces: '-') %></div>
    </div>  
  <% end %>    
  <% unless @client.instagram.blank? %>
    <div class="row">
      <div class="column col-1x">Instagram</div>
      <div class="column col-1x"><%= @client.instagram %></div>
    </div>  
  <% end %>    
  <% if @client.student? %>
    <div class="row">
      <div class="column col-1x">Employment Status</div>
      <div class="column col-1x">Full Time Education <small>(you must notify us when this changes)</small></div>
    </div>  
  <% end %>    
</div>