<div class="admin-table striped my-2">
  <div class="row">
    <div class="column col-1x">Classes attended</div>
    <div class="column col-1x"><%= @client_hash[:atendances] %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Last class</div>
    <div class="column col-1x"><%= @client_hash[:last_counted_class].nil? ? "not yet atended" : "#{time_ago_in_words(@client_hash[:last_counted_class])} ago" %></div>
  </div>
  <div class="row">
    <div class="column col-1x">Joined</div>
    <div class="column col-1x"><%= "#{time_ago_in_words(@client_hash[:date_created])} ago" %></div>
  </div>
</div>
