<div id="client-data" class="">
  <%= render partial: 'client/data_pages/client_data' %>
  <%= render partial: 'client/data_pages/client_summary' %>
</div>
<%= render partial: 'client/password_resets/form' %>