<section class="">
  <div class="container">

    <div class="row g-3 g-xl-4" data-masonry>
      <div class="col-md-6" data-aos="fade-up">
        <a href="" class="card equal-md-1-1 card-hover-gradient">
          <div class="card-wrap">
            <div class="card-footer my-auto">
              <div class="text-center text-shadow">
                <h3 class="mb-0 fw-bold text-white">Group</h3>
              </div>
            </div>
          </div>
          <figure class="background" style="background-image: url(<%= asset_path 'home/stock1.jpg' %>"></figure>
        </a>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <a href="" class="card equal-md-16-9 card-hover-gradient">
          <div class="card-wrap">
            <div class="card-footer my-auto">
              <div class="text-center text-shadow">
                <h3 class="mb-0 fw-bold text-white">Private</h3>
              </div>
            </div>
          </div>
          <figure class="background" style="background-image: url(<%= asset_path 'home/stock1.jpg' %>"></figure>
        </a>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <a href="" class="card equal-md-1-1 card-hover-gradient">
          <div class="card-wrap">
            <div class="card-footer my-auto">
              <div class="text-center text-shadow">
                <h3 class="mb-0 fw-bold text-white">Nutrition</h3>
              </div>
            </div>
          </div>
          <figure class="background" style="background-image: url(<%= asset_path 'home/stock1.jpg' %>"></figure>
        </a>
      </div>
      <div class="col-md-6" data-aos="fade-up">
        <a href="" class="card equal-md-16-9 card-hover-gradient">
          <div class="card-wrap">
            <div class="card-footer my-auto">
              <div class="text-center text-shadow">
                <h3 class="mb-0 fw-bold text-white">Online</h3>
              </div>
            </div>
          </div>
          <figure class="background" style="background-image: url(<%= asset_path 'home/stock1.jpg' %>"></figure>
        </a>
      </div>
    </div>
  </div>
</section>
