<section class="py-5 py-xl-5">
  <div class="container">
    <div class="row g-5 justify-content-center">
      <div class="col-8 col-md-4 text-center">
        <i class="bi bi-1-circle-fill fs-4 mb-2"></i>
        <h6 class="mb-0 fw-normal fs-lg">strong body</h6>
        <!--p class="text-muted">From all orders over $100</p-->
      </div>
      <div class="col-8 col-md-4 text-center">
        <i class="bi bi-2-circle-fill fs-4 mb-2"></i>
        <h6 class="mb-0 fw-normal fs-lg">strong mind</h6>
        <!-- <p class="text-muted">Return money within 30 days</p> -->
      </div>
      <div class="col-8 col-md-4 text-center">
        <i class="bi bi-3-circle-fill fs-4 mb-2"></i>
        <h6 class="mb-0 fw-normal fs-lg">strong life</h6>
        <!-- <p class="text-muted">You’re in safe hands</p> -->
      </div>
    </div>
  </div>
</section>