<section class="pb-2 pb-xl-5 mt-5 text-center">
  <h5 class="mb-4 text-uppercase fw-bolder">what our clients say</h5>
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item bg-body review active">
        <p class="review">"If I had to describe The Space in one word, it would be <i>“LIFECHANGING”</i>. Gigi and Apoorv are absolute legends at what they do, and their personalised approach to fitness is truly inspiring and one-of-a-kind."</p>
        <p class="reviewer">Nidhi Sharma</p>
      </div>
      <div class="carousel-item bg-body review">
        <p class="review">"The best thing that has happened to me in my fitness journey. My fitness levels have reached from 0 to 10 thanks to The Space! All the coaches are genuinely helpful and always make great efforts to give personalized attention to everyone whether it is a group class or PT."</p>
        <p class="reviewer">Helina Vora</p>
      </div>
      <div class="carousel-item bg-body review">
        <p class="review">"My trainer Rakesh has been an amazing support in my progress. He manages to keep me motivated by creating good workout plans. I have been able to achieve much more than I expected."</p>
        <p class="reviewer">Anagha Nabar</p>
      </div>
      <div class="carousel-item review">
        <p class="review">"I feel like I belong to a fitness community which feels like home! The entire team is professional and exceptionally friendly and welcoming. Coach Amit is an amazing trainer who will work with you through thick and thin with a big smile on his face! :)"</p>
        <p class="reviewer">Preeta Sinha</p>
      </div>
      <div class="carousel-item review">
        <p class="review">"The Space is one of my favourite places to workout in Mumbai. The coaches are excellent and some of the best you will find. No matter what they have your back and will push you just the right amount!"</p>
        <p class="reviewer">Nayantara Singh</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="display-4 text-dark" aria-hidden="true"><</span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="display-4 text-dark" aria-hidden="true">></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="d-flex flex-column mt-2">
    <div class="my-2 text-uppercase"> <a href="https://g.co/kgs/wpm9Gp" class="btn btn-outline-black rounded-pill bg-light px-2 py-1" target="_blank">more reviews!</a> </div>
  </div>
</section>