<section class="mt-5 pb-5 pb-xl-10 text-center">
  <div class="container">
    <div class="row mb-10">
      <div class="col-lg-12">
        <span class="eyebrow text-primary mb-4">Welcome to The Space</span>
        <h3 class="fs-4">come as you are, put in the work and reap the results of intelligent, compassionate & high quality training designed for you!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="lead text-secondary fw-bold">strong body</span>
      </div>
      <div class="col">
        <span class="lead text-secondary fw-bold">strong mind</span>
      </div>
      <div class="col">
        <span class="lead text-secondary fw-bold">strong life</span>
      </div>
    </div>
  </div>
</section>