<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
  </symbol>
</svg>

<div class="container py-5">
  <header>
    <div class="pricing-header p-3 pt-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Pricing</h1>
      <p class="fs-5 text-muted">Start Your Journey at Mumbai's Premier Strength & Conditioning Studio</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Trial</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs. 1,500</h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 week</li>
              <li>Unlimited Classes*</li>
              <li>Online Booking</li>
              <li>Early Renewal Discount**</li>
              <li>Buy now, starts at first class</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">1 Month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs. 9,500<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>1 month</li>
              <li>Unlimited Classes*</li>
              <li>Online Booking</li>
              <li>Early Renewal Discount**</li>
              <li>Buy now, starts at first class</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">3 Month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Rs. 25,500<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>3 month</li>
              <li>Unlimited Classes*</li>
              <li>Online Booking</li>
              <li>Early Renewal Discount**</li>
              <li>Buy now, starts at first class</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Compare Packages</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Trial</th>
            <th style="width: 22%;">1 Month</th>
            <th style="width: 22%;">3 Month</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Unlimited Classes</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Qualified Instructors</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Clean Safe environment</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Paid Freeze</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Medical Freeze</th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">1-time only</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">The Space T-shirt</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
