<div class="offcanvas-wrap mb-2">
  <section class="bg-black inverted overflow-hidden">
    <div class="container py-20 d-flex flex-column min-vh-100 foreground">
      <div class="row my-auto justify-content-center">
        <div class="col-lg-6 text-center" data-center-center="transform: translateY(0%);"
          data-top-bottom="transform: translateY(10%);">
          <!-- <span class="badge bg-opaque-red rounded-pill text-red mb-4">Cube 2.0.0</span> -->
          <%= image_tag('SpaceLogo.png', alt: "logo") %>
          <%# <h1 class="display-3 text-shadow"><span data-typed='{"strings": ["Fitness Just Got Fun"]}'></span></h1> %>
        </div>
      </div>
    </div>
 
</div>