<div class="offcanvas-wrap mb-2">
  <section class="bg-black inverted overflow-hidden">
    <div class="container py-20 d-flex flex-column min-vh-100 foreground">
      <div class="row my-auto justify-content-center">
        <div class="col-6 col-lg-6 text-center" >
          <%= image_tag('SpaceLogo_white.png', alt: "logo", class: "mw-100") %>
        </div>
      </div>
    </div>
  </section>
</div>