<div id="expenses_table" class="container px-1 mb-5">
  <div class="admin-table striped mt-2">
      <%= render @expenses %>
    <div class="row">
      <div class="column fw-bolder">Total: <%= rupees(@expenses.sum(:amount)) %></div>
    </div>
  </div>
</div>
