<div id="expenses_table" class="container px-1 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody>
      <%= render @expenses %>
      <tr>
        <th scope="row">Total</th>
        <td class="fw-bold"><%= rupees(@expenses.sum(:amount)) %></td>
      </tr>
    </tbody>
  </table>
</div>
