<% if false %>
  <form action=<%= "/expenses/filter" %> method="GET">
    <select name="revenue_month" class= "sort" onchange="this.form.submit()" >
      <%= options_for_select @months, session[:revenue_month] %>
    </select>
  </form>
<% end %>

<div class="container px-1 mb-2">  
  <%= form_with(url: filter_expenses_path, method: "get", class: "form-class", data: {turbo_frame: "expenses"}) do |form| %>
    <%= form.select :revenue_month, options_for_select(@months, session[:revenue_month]), {}, {class: "sort", onchange: "this.form.requestSubmit()"} %>
  <% end %>
</div>