<div class="row">
  <div class="column col-1x"><%= other_service.name %></div>
  <div class="column col-2x"><%= other_service.link %></div>
  <div class="column nomobile"><%= link_to image_tag('edit.png', class: "table_icon"), edit_superadmin_other_service_path(other_service), data: {turbo: false} %></div>
  <div class="column nomobile"><%= link_to image_tag('delete.png', class: "table_icon"), superadmin_other_service_path(other_service), data: { turbo_method: :delete, turbo_confirm: 'Service will be deleted. Are you sure?' } %></div>
</div>