<div id="other_services_table" class="container px-1 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody>
      <%= render @other_services %>
    </tbody>
  </table>
</div>


