<h4>Editing Other Service</h4>
<%= render 'form', other_service: @other_service %>
<%= link_to 'Show', superadmin_other_service_path(@other_service) %> |
<%= link_to 'Back', superadmin_other_services_path %>