<table class="table table-secondary table-striped caption-top">
  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <th scope="row"><%= instructor.name %></th>
        <td><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_instructor_path(instructor) %></td>
        <!--td><%#= link_to image_tag('delete.png', class: "grid_table_icon"), admin_instructor_path(instructor), method: :delete, data: { confirm: 'Instructor and all its workouts will be deleted. Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
