<div id="instructors_table" class="container px-0 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <tbody id="instructors">
      <%= render @instructors %>
    </tbody>
  </table>
</div>
