<h4>Instructors <%= link_to image_tag('add.png'), new_admin_instructor_path %></h4>
<div id="instructors_table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'instructors_table' %>
</div>
