<div class="container">
  <h4 class="health">Health Declaration Form &amp; Assumption of Risk, Waiver of Liability and Indemnity Form</h4>
  <p>Please complete this form with true and accurate information before participating in services at The Space, so that we can safely guide you through your training with us.</p>
  <p>All information will be kept confidential and will only be used for the purpose of your participation in activity at The Space.</p>
  <div class="col-md-6 mb-4">
    <%= render 'form', client: @client %>
  </div>
</div>