<!--%#= form_with(url: edit_admin_attendance_path(@attendance)) do |form| %-->
<%= form_with(model: [:admin, object], local: false, class: "form-class") do |form| %>
  <!--div><%#= form.hidden_field :id, :value => object.id %> </div-->
  <div class="field">
    <!-- couldnt get the form helper 'form.select' approach to work. Generated more or less the same html as the direct approach. Return to this to resolve why..-->
    <%#= form.select :status, options_for_select(%w[attended cancelled\ early no\ show booked], @attendance.status), {}, onchange: "Rails.fire(this.form, 'submit')" %>
    <select name="attendance[status]" onchange="Rails.fire(this.form, 'submit')" class= "sort">
      <%#%w[booked attended cancelled\ late cancelled\ early no\ show]%>
      <% attendance_status = Rails.application.config_for(:constants)["attendance_statuses"] %>
      <%= options_for_select(attendance_status, object.status) %>
    </select>
  </div>
<% end %>
