<!--%#= form_with(model: object, class: "form-class", data: {turbo_method: :patch}) do |form| %-->
<%= form_with(model: object, url: booking_cancellation_path(object), class: "form-class" , data: {turbo_method: :patch}) do |form| %>
  <!--div><%#= form.hidden_field :id, :value => object.id %> </div-->
  <div><%= form.hidden_field :link_from, value: params[:link_from] %></div>
  <div><%= form.hidden_field :page, value: params[:page] %></div>
  <div class="field">
    <!-- couldnt get the form helper 'form.select' approach to work. Generated more or less the same html as the direct approach. Return to this to resolve why..-->
    <%# final hash needs curly braces i suggest DPS Aug 2023 %>
    <%#= form.select :status, options_for_select(%w[attended cancelled\ early no\ show booked], @booking.status), {}, onchange: "Rails.fire(this.form, 'submit')" %>
    <select name="booking[status]" class= "booking" onchange="this.form.requestSubmit()">
      <%#%w[booked attended cancelled\ late cancelled\ early no\ show]%>
      <% atendance_status = Rails.application.config_for(:constants)['booking_statuses'] %>
      <%= options_for_select(atendance_status, object.status) %>
    </select>
  </div>
<% end %>
