<div id="wkclasses-table" class="container px-0 mb-5 margin-override">
  <div class="page_entries_info px-1">
    <%#= paginate @wkclasses, remote: true %>
    <%#= page_entries_info @wkclasses, entry_name: 'classes' %>
    <%== pagy_nav @pagy %>
  </div>

  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody id="records">
      <%= render @records %>
    </tbody>
  </table>
</div>



