<div class="admin-table striped mt-2">
  <div class="row with-gradient">
    <div class="column col-1x">Waiting List <small><%= "(#{@waitings&.size})" %> </small></div>
    <% @waitings.each do |waiting| %>
      <div class="row">
        <div class="column col-1x"><%= waiting.purchase.client.name %></div>
        <div class="column col-1x"><%= waiting.purchase.client.phone || waiting.purchase.client.whatsapp %></div>
      </div>
    <% end %>
  </div>
</div>