<div id="wkclasses-table" class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <% if @admin_plus %>
      <div class="record-count mb-1">
        <%= "showing #{@wkclasses&.length} of #{@pagy&.count}" %>
      </div>
    <% end %>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>   
  </div>

  <div class="admin-table mt-3">
    <%= render @wkclasses %>
  </div>

</div>



