<h4>Editing Class</h4>
<%= render 'form', wkclass: @wkclass %>
<%= link_to image_tag('clipboard.png', class: "back_icon"), admin_wkclass_path(@wkclass), class: "icon-container" %> |
<%= link_to image_tag('back.png', class: "back_icon"), admin_wkclasses_path, class: "icon-container" %>
