<section class="mt-10 text-center book-trial">
  <p class="tagline2 fw-bolder mt-3"><%= "Try a week of group classes for #{rupees(@trial_price)}!" %></p>  
  <div> <%= link_to "Book a Trial", signup_path, class: "btn btn-outline-black bg-light px-3 py-2 bg-dark text-white" %> </div>
</section>