<section class="overflow-hidden inverted bg-black cover-photo">
  <div class="d-flex flex-column container level-1">
    <div class="row justify-content-center flex-grow-1">
      <div class="col-md-8 text-center">
        <%= link_to "https://wa.me/919619348427", target: "_blank", class: "position-fixed float" do %>
          <%= image_tag('whatsapp-50.png', alt: "Whatsapp call", class: "") %>
        <% end %>
        <h1 class="lh-sm fw-bold text-capitalize">group classes</h1>
        <h6 class="mb-0 px-10 fw-normal fs-lg text-uppercase">experience the best group fitness in juhu</h6>
      </div>
    </div>
    <div class="row text-center pb-3 pb-md-5 tagline text-secondary fw-bold text-uppercase">
      <div class="text-secondary fw-bold text-uppercase">
        <p class= "tagline-sm">
          <span>sweat</span><span class= px-2>|</span>
          <span>support</span><span class= px-2>|</span>
          <span>success</span>
        </p>
      </div>
    </div>
  </div>
  <figure class="background background-overlay" style="background-image: url(<%= asset_path 'group/cover.jpg' %>)"></figure>
</section>