<section class="text-center" style="margin-top: -4em; z-index:3;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 tagline">
        <p class="tagline-xl mb-3 mb-lg-4">We're more than just a gym</p>
        <p class="tagline-md text-uppercase">why we stand out from the rest</p> 
      </div>
    </div>
  </div>

  <div id="carouselMoreThanGym" class="carousel slide carousel-fade mb-5" data-bs-ride="true">
    <div class="carousel-inner more-than-gym">
      <div class="carousel-item active py-4" data-bs-interval="5000">
        <h6>expert coaches</h6>
        <p>Our experienced coaches genuinely care about your progress, bringing a wealth of experience to the table. With a combined experience of 15 years and expertise in weightlifting, injury & pain management, movement flow, sport-specific training, and bodybuilding, they are ready to guide you through your fitness journey with mastery and care.</p>
      </div>  
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>coach-led classes</h6>
        <p>In our classes, our dedicated coaches take the lead. They will not only teach you how to master each exercise but also ensure that you can modify them to suit your training level. We prioritise your well-being and safety. Experience personal attention in a group class - Our assistant coaches are there to support you, keeping a watchful eye on your form, so you can focus on your workout with peace of mind.</p>
      </div>
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>focused on your progress</h6>
        <p>Our signature group training programs are crafted with meticulous attention to detail, aimed at propelling you towards meaningful advancements in strength, cardiovascular health, power, energy, and body recomposition. We prioritise injury prevention and your recovery while embracing the latest training methods and scientifically backed concepts. Our holistic approach, coupled with heartfelt care and support, guarantees that you derive unparalleled value from your investment in your fitness journey.</p>
      </div>
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>injury prevention & accessibility</h6>
        <p>We place a high priority on injury prevention and strive to create an inclusive environment that caters to individuals of all ages and body shapes. Our classes are accessible to everyone, and we work closely with our partner physios to help mitigate pain and injury, ensuring that your fitness progress is never hampered.</p>
      </div>
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>flexible freeze options</h6>
        <p>We understand that life can be unpredictable. That's why we offer unlimited freeze options, allowing you to pause your membership when needed, accommodating life's uncertainties without any hassle.</p>
      </div>
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>multiple batches for busy schedules</h6>
        <p>We know the challenges of hectic and unpredictable schedules. To ensure that fitness seamlessly fits into your routine, we offer multiple class batches throughout the day. Whether you're an early bird or prefer an evening workout, we've got the flexibility and convenience you need.</p>
      </div>
      <div class="carousel-item py-4" data-bs-interval="5000">
        <h6>we know what women want!</h6>
        <p>We've had the privilege of working with hundreds of amazing women since 2014, and we understand what it takes to train the goddesses of strength and grace! Our training environment is female-friendly and sensitive, ensuring you never have to worry about body image or unwanted gazes. We honor #girlpower and know exactly how to unleash it!</p>
      </div>
     </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMoreThanGym" data-bs-slide="prev">
      <span class="display-4" aria-hidden="true"><</span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMoreThanGym" data-bs-slide="next">
      <span class="display-4" aria-hidden="true">></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
