<section class="mt-5 text-center">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <h3 class="fs-4">We're more than just a gym</h3>
        <h3 class="fs-6 text-uppercase">why we stand out from the rest</h3>
      </div>
    </div>
  </div>

  <div id="carouselMoreThanGym" class="carousel slide carousel-fade mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active py-4" data-bs-interval="5000">
        <p class="more-than-gym-head">expert coaches</p>
        <p class="more-than-gym-desc">Our experienced coaches genuinely care about your progress, bringing a wealth of experience to the table. With a combined experience of 15 years and expertise in weightlifting, injury & pain management, movement flow, sport-specific training, and bodybuilding, they are ready to guide you through your fitness journey with mastery and care.</p>
      </div>  
      <div class="carousel-item py-4" data-bs-interval="5000">
        <p class="more-than-gym-head">coach-led classes</p>
        <p class="more-than-gym-desc">In our classes, our dedicated coaches take the lead. They will not only teach you how to master each exercise but also ensure that you can modify them to suit your training level. We prioritise your well-being and safety. Experience personal attention in a group class - Our assistant coaches are there to support you, keeping a watchful eye on your form, so you can focus on your workout with peace of mind.</p>
      </div>
 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselMoreThanGym" data-bs-slide="prev">
      <span class="display-4" aria-hidden="true"><</span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselMoreThanGym" data-bs-slide="next">
      <span class="display-4" aria-hidden="true">></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
