<section class="mt-10 pb-5 pb-xl-10 text-center" id="shop">
  <div class="container bg-black inverted py-4">
    <h5 class="px-4 fw-bolder">Sign up now and get 10% off your first Package at The Space</h5>
  </div>

  <div class="text-center mt-10">
    <h6 class="mb-4 text-uppercase fw-bolder">packages</h6> 
    <button id="Unlimited_btn" class="btn_product_type btn btn-filter rounded-pill current" onclick="showProduct(event, 'unlimited')">Unlimited</button>
    <button id="Flex_btn" class="btn_product_type btn btn-filter rounded-pill" onclick="showProduct(event, 'fixed')">Flex</button>
    <div class="px-2 my-4 value-statement product unlimited">Our best value memberships for training regularly. The more you train, the better the value!</div>        
    <div class="px-2 my-4 value-statement product fixed">Our flexible membership is best value if you plan to train with us twice per week or less.</div>        
  </div>
  
  <%= render 'public_pages/group_classes/shop_product_list' %>
  <div class="mt-3"> <%= link_to "Buy Now", signup_path, class: "btn btn-outline-black rounded-pill bg-light px-2 py-1 bg-dark text-white" %> </div>
  <div class="container mt-3">
    <h5 class="px-3 fw-bolder">Save 10% on your first membership at The Space</h5>
  </div>
</section>

<script>
  function showProduct(evt, productType) {

    var i, product, product_type_btns, display_var;

    display_var = "none";
    if (productType == 'all') {
      display_var = "block";
    }

    // Get all elements with class= "product" and hide them 
    product = document.getElementsByClassName("product");
    for (i = 0; i < product.length; i++) {
    product[i].style.display = display_var;
    }

    // Get all elements with class="btn_product_type" and remove the class "active"
    product_type_btns = document.getElementsByClassName("btn_product_type");
    for (i = 0; i < product_type_btns.length; i++) {
    product_type_btns[i].className = product_type_btns[i].className.replace(" current", "");
    }

    // Get all elements with class= "productType" and show them
    selected_products = document.getElementsByClassName(productType);
    for (i = 0; i < selected_products.length; i++) {
    selected_products[i].style.display = "block";
    }  

    // add an "active" class to the button that opened the tab
      evt.currentTarget.className += " current";
  }
  // Click on option wanted to be visible as default
  document.getElementById("Unlimited_btn").click();

</script>