<section class="mt-10 text-center book-trial">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 d-flex flex-column tagline">
        <p class="tagline-lg">Flexible Memberships</p>
        <p class="tagline-lg">Multiple Batches</p>
        <p class="tagline-lg">All access to classes</p>
      </div>
    </div>
  </div>
</section>