<section class="mt-5 pb-5 pb-xl-10 text-center group-class">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12">
        <p class="tagline1 mb-4 px-3">Our diverse class line up is designed to cater for your every fitness need!</p>
        <p class="tagline2 px-2">Unlock strength, speed and boundless energy & shed unwanted pounds. Beginner or Experienced, there's something for everyone!</p>
      </div>
    </div>
  </div>
  <div class="my-2 text-uppercase">
    <a href="#timetable" class="btn btn-outline-black rounded-pill px-2 py-1 bg-dark text-white" target="_self">timetable</a>
  </div>
</section>