<section class="mt-5 text-center group-class">
  <div class="container pb-2">
    <div class="row">
      <div class="col-lg-12">
        <p class="tagline1 mb-5 px-4">Our diverse class line up is designed to cater for your every fitness need!</p>
        <p class="tagline2 px-3">Unlock strength, speed and boundless energy & shed unwanted pounds. Beginner or Experienced, there's something for everyone!</p>
      </div>
    </div>
  </div>
  <div class="my-5 text-uppercase">
    <a href="#timetable" class="btn btn-outline-black px-3 py-2 bg-dark text-white" target="_self">timetable</a>
  </div>
</section>