<div class="container px-0 mb-5">
  <div class="text-uppercase fst-italic"><small><%=" (#{@accounts.size})"%></small> Accounts</div>
  <div class="admin-table mt-3">
    <div class="row fw-bolder">
      <div class="column col-2x">Email</div>
      <div class="column col-2x">Priority Role</div>
      <div class="column col-1x">Other Roles</div>
      <div class="column nomobile"></div>
    </div>
    <%= render partial: 'superadmin/employee_accounts/account', collection: @accounts %>
  </div>
</div>