<h2>Workout Groups <%= link_to image_tag('add.png', class: "button_icon"), new_workout_group_path, class: "icon-container" %></h2>
<div id="workout-groups-table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'workout_groups_table' %>
</div>
