<div id="freezes-filter" class="container px-1 mb-5">
  <div class="container search">
    <hr class = "search mb-3"></hr>
    <%= form_with(url: freeze_filter_path, method: "get", class: "form-class", data: {turbo_frame: "freezes"}) do %>
      <div class="container mb-1">
        <div class="row">
          <fieldset class="mt-2" style="margin-left:-1.3rem">
            <select name="freezes_period" class= "sort" onchange="this.form.requestSubmit()">
              <%= options_for_select @months, session[:freezes_period] %>
            </select>
          </fieldset>
        </div>
      </div>
    <% end %>
    <hr class = "search mb-3"></hr>
  </div>
</div>
