<div id="challenges-table" class="container px-0 mb-5">
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Name</div>
      <div class="column col-1x">Metric</div>
      <div class="column col-1x">Metric Type</div>
      <div class="column col-1x">Main Challenge</div>
      <% if logged_in_as?('superadmin') %>
        <div class="column"></div>
        <div class="column"></div>
      <% end %>
    </div>
  </div>
  <div class="admin-table striped">
    <%= render @challenges %>
  </div>
</div>