<div class="canvas gray100-canvas embossed px-2 mb-3">
  <div class="message py-2 fw-bolder">
    <p class='mb-1'><%= @note %></p>
    <p class='mb-1'><%= duration %></p>
    <p class=''><%= period %></p>
  </div>
</div>


