<div id="regular_expenses_table" class="container px-1 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody>
      <%= render partial: 'regular_expense', collection: @regular_expenses, as: :expense %>
      <tr>
        <th scope="row">Total</th>
        <td class="fw-bold"><%= rupees(@regular_expenses.sum(:amount)) %></td>
      </tr>
    </tbody>
  </table>
</div>
