<div class="container px-1">
  <h4>Regular Expenses <%= link_to image_tag('add.png', class: 'button_icon'), new_regular_expense_path %></h4>
  <%= render 'add_buttons' %>
</div>  
<%= render 'regular_expenses_table' %>


