<% workout_decorator = decorate(workout) %>
<%= turbo_frame_tag workout do %>
  <div class= "row">
    <%= workout_decorator.name_link %> 
    <div class="column"><%= workout_decorator.current %></div> 
    <div class="column"><%= workout_decorator.edit %></div> 
  </div>
<% end %>