<div class ="d-flex bg-light">
    <!--div class ="cell c-class-icon"></div-->
    <div class ="cell c-workout-name fw-bold">Workout</div>
    <div class ="cell c-workout-workoutgroup fw-bold">Workout Group</div>
    <div class ="cell c-class-icon"></div>
    <div class ="cell c-class-icon"></div>
</div>
<% @workouts.each do |workout| %>
  <div class ="d-flex bg-light">
    <!--div class ="cell c-class-icon">
      <%#= link_to image_tag('clipboard.png', class: "table_icon"), workout, class: "icon-container" %>
    </div-->
      <div class ="cell c-workout-name"><%= workout.name %></div>
      <div class ="cell c-workout-workoutgroup"><%= workout.workout_groups.pluck(:name).join(', ') %></div>
      <div class ="cell c-class-icon">
        <%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_workout_path(workout), class: "icon-container" %>
      </div>
      <div class ="cell c-class-icon">
        <%= link_to image_tag('delete.png', class: "table_icon"), admin_workout_path(workout), method: :delete, data: { confirm: 'Workout and any classes of this type will be deleted. Are you sure?' }, class: "icon-container" %>
      </div>
  </div>
<% end %>
