<div id="workouts-table" class="container px-0 mb-5">
  <table class="table table-secondary table-striped caption-top">
    <caption class="ps-1">Workout List <small><%="(#{@workouts.size})"%></small></caption>
    <thead>
      <tr>
        <th scope="col" class="fst-italic">Workout</th>
        <th scope="col" class="fst-italic">Workout Group</th>
        <th scope="col" class="fst-italic">Active</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @workouts %>
    </tbody>
  </table>
</div>