/* mixins, variables, etc. */
$font-stack:  "Quicksand", "Arial";
$gray-darker:  #808080;
$bg-light: #f8f9fa;

  %circle {
    width:70px;
    height:70px;
    border: 1px solid;
    border-color: $bg-light;
    border-radius:50%;
    font-size:32px;
    font-weight: bolder;
    /* color: $greenfly; */
    color: #454a5d;
    text-align:center;
    background-color: $bg-light;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
      &::first-line{
        line-height:70px;
      }
    }
  
  div.bigcircle {
    @extend %circle;
    box-shadow: 1px 3px 2px $gray-darker inset;
  }

  div.user_score {
    font-family: $font-stack;
    font-size:12px;
    font-weight: normal;
    /* color:$black-light; */
    color: #454a5d;
    letter-spacing: 0.08em;
    display: inline-block;
    line-height: 10px;
    /* hack to force line wrap after each word*/
    word-spacing: 999px;
    &::first-line{
      line-height:20px;
    }
  }

  img.heartlogo {
    width: 5rem;
    display: block;
    margin: auto;
  }

  h2 form {
    display: inline-block;
    font-size: 0.6em;
  }
  
  select.sort {
    color: $gray-darker;
    border: solid;
    border-color: $bg-light;
    border-width: 1px;
    background-color: $bg-light;
  }  

@media (min-width: 900px) {

  body {
    margin: 1rem;
    margin-top: 0; }

  // table.client-booking td {
  // font-size: 1.3rem;
  // line-height: 1.5rem;
  // padding: 1rem;
  // }
  // table.client-booking th {
  // font-size: 1.3rem;
  // line-height: 1.5rem;
  // padding: 1rem;
  // }

  // .table.client-booking tr {
  //   border-top-width: 0;

  //   > *:first-child {
  //     padding-left: 2rem;
  //   }

  //   > *:last-child {
  //     padding-right: 2rem;
  //   }
  // }  
  
  // table.client-booking {
  //   width: auto;
  //   max-width: 100%;
  //   margin: auto;
  //   }   
}  
