<% adjustments = @purchase.adjustments %>
<% unless adjustments.count.zero? %>
  <table class="table table-secondary table-striped caption-top">
    <caption class="ps-1"><%= "#{pluralize(adjustments.size, 'Adjustment')} (#{pluralize(adjustments.map(&:adjustment).inject(&:+), 'day')})" %></caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Days</th>
      </tr>
    </thead>
    <tbody>
      <% adjustments.each_with_index do |adj, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= adj.created_at.strftime('%d %b %y') %></td>
          <td><%= "#{pluralize(adj.adjustment, 'day')}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
