<table class="table table-secondary table-striped caption-top">
  <tbody>
    <tr>
      <th scope="row">Classes attended</th>
      <td><%= @client_hash[:attendances] %></td>
    </tr>
    <tr>
      <th scope="row">Last class</th>
      <td><%= @client_hash[:last_class].nil? ? "not yet atended" : "#{time_ago_in_words(@client_hash[:last_class])} ago" %></td>
    </tr>
    <tr>
      <th scope="row">Joined</th>
      <td><%= "#{time_ago_in_words(@client_hash[:date_created])} ago" %></td>
    </tr>
  </tbody>
</table>
