<%# replaced with stimulus %>
<%#= javascript_import_module_tag "custom/booking-slider" %>
  <section id="bookings-table" class="mb-5">
  <div id="" class="container px-0 mt-5 mb-5">  
    <table class="table table-striped">
      <tbody>
        <% unless @wkclasses_show.empty? %>
          <%= render partial: 'wkclass_booking', collection: @wkclasses_show, as: :wkclass %>        
        <% end %>
      </tbody>
    </table>
  </div>
  </section>




