<h2>
  <%= @client.name %>
</h2>
<h6 class="bolditalics mb-0">
  Package History
</h6>
<h2>
  <form action=<%= "/client/clients/#{params[:id]}" %> method="GET" >
    <select name="purchaseid" onchange="this.form.submit()" class= "sort">
      <%= options_for_select @products_purchased, session[:purchaseid] %>
    </select>
  </form>
</h2>
