<% unless @purchase.freezes.count.zero? %>
<% freezes = @purchase.freezes %>
  <table class="table table-secondary table-striped caption-top">
    <caption><%= "#{pluralize(freezes.size, 'Freeze')} (#{pluralize(freezes.map(&:duration).inject(&:+), 'day')})" %></caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Start</th>
        <th scope="col">Days</th>
      </tr>
    </thead>
    <tbody>
      <% freezes.each_with_index do |f, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= f.start_date.strftime('%d %b %y') %></td>
          <td><%= "#{pluralize(f.duration, 'day')}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
