<% penalties = @purchase.penalties %>
<% unless penalties.count.zero? %>
  <table class="table table-secondary table-striped caption-top">
    <caption class="ps-1"><%= "#{pluralize(penalties.size, 'Penalty')} (#{pluralize(penalties.map(&:amount).inject(&:+), 'day')})" %></caption>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Days</th>
      </tr>
    </thead>
    <tbody>
      <% penalties.each_with_index do |pen, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= pen.attendance.wkclass.summary %></td>
          <td><%= "#{pluralize(pen.amount, 'day')}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
