<% attendances = @purchase.attendances.no_amnesty.order_by_date %>
  <table class="table table-secondary table-striped caption-top ">
    <caption class="ps-1">Attendances</caption>    
    <tbody>
      <% attendances.each_with_index do |attendance, index| %>
        <tr>
          <th scope="row"><%= attendances.size - index %></th>
          <td><%= attendance.wkclass.summary %></td>
          <td><%= attendance.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
