<table class="table table-secondary table-striped caption-top mb-0">
  <%= render partial: 'purchase_summary_rider' if @purchase.rider? %>
  <%= render partial: 'purchase_summary_main' if !@purchase.rider? %>
</table>
