<section class="py-15 py-xl-20 bg-light">
  <div class="container">
    <div class="row justify-content-center mb-10">
      <div class="col-lg-10 col-xl-8 text-center">
        <h2 class="display-2 fw-light"><span class="fw-bold">20+ classes</span> & unlimited variations. Find your desi murghi.</h2>
        <button id="clickme_onload" class="btn btn-filter rounded-pill" data-filter=".unlimited" data-target="#grid1">unlimited</button>
        <button class="btn btn-filter rounded-pill" data-filter=".flexible" data-target="#grid1">flexible</button>
        <button class="btn btn-filter rounded-pill current" data-filter="*" data-target="#grid1">all</button>            
      </div>
    </div>

    <div class="row g-3 g-xl-5" id="grid1" data-aos="fade-up" data-isotope>
      <div class="col-md-4 unlimited">
        <article class="card card-hover-image-rise">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">1 Week Trial</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Rs. 1,500</h1>
              <div class="accordion" id="accordion-1">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-1-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                      Details
                    </button>
                  </h2>
                  <div id="collapse-1-1" class="accordion-collapse collapse" aria-labelledby="heading-1-1" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                      <p class="text-secondary">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>1 week</li>
                          <li>Unlimited Classes*</li>
                          <li>Online Booking</li>
                          <li>Early Renewal Discount**</li>
                          <li>Buy now, starts at first class</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
           </div>
         </div>
       </article>
     </div>

      <div class="col-md-4 unlimited">
        <article class="card card-hover-image-rise">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">1 Month</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Rs. 9,500<small class="text-muted fw-light">/mo</small></h1>
              <div class="accordion" id="accordion-2">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-2-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                      Details
                    </button>
                  </h2>
                  <div id="collapse-2-1" class="accordion-collapse collapse" aria-labelledby="heading-2-1" data-bs-parent="#accordion-2">
                    <div class="accordion-body">
                      <p class="text-secondary">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>1 month</li>
                          <li>Unlimited Classes*</li>
                          <li>Online Booking</li>
                          <li>Early Renewal Discount**</li>
                          <li>Buy now, starts at first class</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
           </div>
         </div>
       </article>
     </div>

      <div class="col-md-4 unlimited">
        <article class="card card-hover-image-rise">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">3 Month</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Rs. 25,500<small class="text-muted fw-light">/mo</small></h1>
              <div class="accordion" id="accordion-3">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-3-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                      Details
                    </button>
                  </h2>
                  <div id="collapse-3-1" class="accordion-collapse collapse" aria-labelledby="heading-3-1" data-bs-parent="#accordion-3">
                    <div class="accordion-body">
                      <p class="text-secondary">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>3 month</li>
                          <li>Unlimited Classes*</li>
                          <li>Online Booking</li>
                          <li>Early Renewal Discount**</li>
                          <li>Buy now, starts at first class</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
           </div>
         </div>
       </article>
     </div>

      <div class="col-md-4 flexible">
        <article class="card card-hover-image-rise">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">1 Class</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">Rs. 1,000</h1>
              <div class="accordion" id="accordion-4">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading-4-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapse-4-1" aria-expanded="false" aria-controls="collapse-4-1">
                      Details
                    </button>
                  </h2>
                  <div id="collapse-4-1" class="accordion-collapse collapse" aria-labelledby="heading-4-1" data-bs-parent="#accordion-4">
                    <div class="accordion-body">
                      <p class="text-secondary">
                        <ul class="list-unstyled mt-3 mb-4">
                          <li>Online Booking</li>
                          <li>Buy now, use within 1 month</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
           </div>
         </div>
       </article>
     </div>

     <div class="col-md-4 flexible">
       <article class="card card-hover-image-rise">
          <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">15 Class<small class="text-muted fw-light"> (90 days)</small></h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">Rs. 11,250</h1>
                <div class="accordion" id="accordion-3">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-3-1">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                        Details
                      </button>
                    </h2>
                    <div id="collapse-3-1" class="accordion-collapse collapse" aria-labelledby="heading-3-1" data-bs-parent="#accordion-3">
                      <div class="accordion-body">
                        <p class="text-secondary">
                          <ul class="list-unstyled mt-3 mb-4">
                            <li>15 Classes</li>
                            <li>Expires after 90 days</li>                            
                            <li>Online Booking</li>
                            <li>Early Renewal Discount**</li>
                            <li>Buy now, starts at first class</li>
                          </ul>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="w-100 btn btn-lg btn-primary">Buy Now</button>
            </div>
          </div>
       </article>
     </div>

    </div>
  </div>
</section>

<script type="text/javascript">
// couldn't get grid.isotope({ filter: '.unlimited'}) to work
// $(document).ready(function(){
// $('#clickme_onload').click();
// });
</script>  
