<div class="text-center mb-3">
  <%= render partial: 'client_heading' %>
</div>

<div id="attendances-table" class="container px-1 mb-3 margin-override">
  <%= render partial: 'client_attendances_table' %>
</div>
