<div class="text-center mb-3">
  <%= render partial: 'client_heading' %>
</div>

<div id="packages-table" class="container px-1 margin-override">
  <%= render partial: 'client_packages_table' %>
</div>
