<div id="shop" class="admin_form pt-4 my-2">
  <%= render 'client/clients/shop/title_renewal'%>
  <%= render 'client/clients/shop/new_client'%>
  <%= render 'client/clients/shop/menu'%>
  <%= render 'client/clients/shop/notes'%>
</div>






