<h2>Revenue <form action=<%= "/revenues/" %> method="GET">
              <select name="revenue_period" onchange="this.form.submit()">
                <%= options_for_select @months, session[:revenue_period] %>
              </select>
            </form>
</h2>
<div id="revenues_table" class="container px-1 mb-5 margin-override">
  <%= render partial: 'revenues_table' %>
</div>
