<div class="container px-0 mb-5">
  <div class="page_entries_info px-1">
    <div class="record-count mb-1">
      <%= "showing #{@orders&.length} of #{@pagy&.count}" %>
    </div>
    <div data-controller="pagy-initializer">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %>
    </div>    
  </div>

  <div class="admin-table mt-3">
    <div class="row fw-bolder">    
      <div class="column nomobile">No</div>
      <div class="column col-2x">Payment Id</div>
      <div class="column col-1x">Date</div>
      <div class="column col-1x">Client</div>
      <div class="column col-1x">Product</div>
      <div class="column col-1x">Price</div>
      <div class="column col-1x">Status</div>
      <div class="column col-2x nomobile">Client UI</div>
      <% if params[:status] == "captured" %>
        <div class="column col-1x">Refund Payment</div>
      <% end %>
    </div>
  </div>
  <div class="admin-table striped mt-3">    
    <%= render @orders %>
  </div>
</div>