<div class="container">
    <ul class="nav" id="tabs_space">
      <input type="hidden" id="target_search" value="<%= params[:status] unless params[:status].nil? %>">
       <% %w[authorized captured refunded error].each do |item| %>
        <li class="nav-item" id="item">
          <%= link_to item.capitalize, superadmin_orders_path({status: item}), class:"nav-link" %>
        </li>
      <% end %>
    </ul>

    <%#= paginate @orders %>
    <div class="page_entries_info px-1">
      <%== pagy_nav @pagy %>
    </div>
    <table class="table table-secondary table-striped caption-top table-hover">
      <tbody>
        <tr>
          <th>No</th>
          <th>Payment Id</th>
          <th>Date</th>
          <th>Client</th>
          <th>Product</th>
          <th>Price</th>
          <th>Client UI</th>
          <% if params[:status] == "captured" %>
            <th>Refund Payment</th>
          <% end %>
        </tr>
        <%= render @records %>
        <%#= render partial: "order", collection: @records %>
      </tbody>
    </table>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var current=$("#target_search").val();
    var is_set=0;
    $("#tabs_space li").each(function(){
      if ($(this).attr('id') == current){
        $(this).addClass('active');
        is_set = 1;
      }

    });
    if (is_set==0){
      $("#authorized").addClass('active');
    }
  });
</script>
