<% if @superadmin %>
  <% if product.deletable? %>
    <% tooltip_title = "This product will be deleted. It has no prices or purchases so it is safe to do so.".gsub(' ',"\u00a0") %>
    <% confirm_message = "The Product has no prices or purchases so can be deleted. But are you sure?" %>
    <div class="column nomobile" data-toggle="tooltip" data-placement="top" title = <%= tooltip_title %>>
      <%= link_to image_tag('delete.png', class: "table_icon"), product_path(product), data: { "turbo-method": :delete, turbo_confirm: confirm_message } %>
    </div>
  <% else %>
    <% tooltip_title = "This product has purchases or prices and so can not be deleted".gsub(' ',"\u00a0") %>
    <div class="column nomobile" data-toggle="tooltip" data-placement="top" title = <%= tooltip_title %>>
      <%= link_to image_tag('delete.png', class: "table_icon greyed-out" ), '#', class: 'disabled' %>
    </div>
  <% end %>
<% end %>


