<div class = "mt-2">Purchases of Product Made <small><%="(#{@purchases.size})"%></small></div>
<div class="admin-table striped mt-2">
  <div class="row fw-bolder">
    <div class="column col-1x">Date of Purchase</div>
    <div class="column col-1x">Client</div>
    <div class="column col-1x">Payment</div>
  </div>
  <% @purchases.each do |purchase| %>
    <div class="row">
      <div class="column col-1x"><%= purchase.dop.strftime('%d %b %y') %></div>
      <div class="column col-1x"><%= link_to purchase.client.name, admin_client_path(purchase.client), class: 'like_button', data: {turbo: false} %></div>
      <div class="column col-1x"><%= rupees(purchase.charge) %></div>
    </div>
  <% end %>      
</div>