<div id="products-table" class="container px-0 mb-5">
  <div class="admin-table mt-2">
    <div class="row fw-bolder">
      <div class="column col-2x">Product</div>
      <div class="column col-1x">Color</div>        
      <div class="nomobile column col-1x">Sell Online</div>        
      <div class="nomobile column col-1x">Active</div>        
      <div class="nomobile column col-1x">Rider</div>        
      <div class="nomobile column col-1x">Has Rider</div>
      <% if logged_in_as?('admin', 'superadmin') %>
        <div class="column col-1x">Total Count</div>
        <div class="column col-1x">Ongoing Count</div>
      <% end %>
        <div class="column col-1x">Base (Rs)</div>
        <div class="column"></div>
    </div>
  </div>
  <div class="admin-table striped">
    <%= render @products %>
  </div>
</div>
