<div id="products-table" class="container px-0 mb-5">
  <table class="table table-secondary table-striped caption-top">
      <thead>
        <tr>
          <th scope="col">Product</th>
          <th class="nomobile" scope="col">Sell Online</th>        
          <th class="nomobile" scope="col">Active</th>        
          <th class="nomobile" scope="col">Rider</th>        
          <th class="nomobile" scope="col">Has Rider</th>
          <% if logged_in_as?('admin', 'superadmin') %>
            <th scope="col">Total Count</th>
            <th scope="col">Ongoing Count</th>
          <% end %>
          <th scope="col">Base (Rs)</th>
          <th class="nomobile" scope="col"></th>
        </tr>
      </thead>
      <tbody id='products'>
        <%= render @products %>
      </tbody>
  </table>
</div>
