<table class="table table-secondary table-striped caption-top">
  <caption>Purchases of Product Made <small><%="(#{@purchases.size})"%></small></caption>
  <tbody>
    <tr>
      <th scope="col">Date of Purchase</th>
      <th scope="col">Client</th>
      <th scope="col">Payment</th>
    </tr>
<% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.dop.strftime('%d %b %y') %></td>
        <td><%= purchase.client.name %></td>
        <td><%= number_to_currency(purchase.payment, precision: 0, unit: 'Rs. ') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
