<div id="product-prices-table" class="container px-0 mb-4">
  <div class="admin-table striped mt-2">
    <div class="row fw-bolder">
      <div class="column col-1x">Base Price</div>
      <div class="column col-1x">From</div>
      <div class="column col-1x">Until</div>
      <div class="column col-1x">Count</div>
      <div class="column"><%= link_to image_tag('add.png', class:'table_icon'), new_admin_price_path(product_id: params[:id]), data: {turbo: false} %></div>
      <div class="column"></div>
      <div class="column"></div>  
    </div>
      <%= render partial: 'admin/products/product_price', collection: @prices, as: :price %>
  </div>
</div>
