<table class="table table-secondary table-striped caption-top">
  <tbody>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Ongoing Count</th>
      <th scope="col">Current Prices</th>
      <th scope="col"></th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <th scope="row" class="fw-light"><%=link_to product.name, admin_product_path(product), class: 'like_button' %></th>
        <td><%= @product_count[product.name.to_sym] %></td>
        <td><%= product.current_prices %></td>
        <td><%= link_to image_tag('edit.png', class: "grid_table_icon"), edit_admin_product_path(product) %></td>
        <!--td><%#= link_to image_tag('delete.png', class: "grid_table_icon"), admin_product_path(product), method: :delete, data: { confirm: "#{product.name} and its purchases will be deleted. Are you sure?" }%></td-->
      </tr>
    <% end %>
  </tbody>
</table>
