<div class="container px-1 margin-override mb-1">
  <h4>Products
    <% if logged_in_as?('admin', 'superadmin') %>
      <%= link_to image_tag('add.png', class: "button_icon"), new_admin_product_path, class: "icon-container" %>
    <% end %>
  </h4>
</div>  
<% if logged_in_as?('superadmin') %>
  <%= render partial: 'download' %>
<% end %>
<%= render partial: 'products_table' %>
