<div class="container px-0 margin-override">
  <table class="table table-secondary table-striped caption-top">
    <caption></caption>
    <tbody>
      <%= render partial: 'instructor_rate', collection: @instructor_rates, as: :rate %>
    </tbody>
  </table>
</div>
