<table class="table table-secondary table-striped caption-top">
  <caption></caption>
  <tbody>
    <% @instructor_rates.each do |rate| %>
      <tr>
        <th scope="row"><%= rate.instructor.name %></th>
        <td><%= number_with_delimiter(rate.rate) %></td>
        <td><%= rate.date_from.strftime('%d %b %y') %></td>
        <td><%= link_to image_tag('edit.png', class: "grid_table_icon"), edit_superadmin_instructor_rate_path(rate) %></td>
        <!--td><%#= link_to image_tag('delete.png', class: "grid_table_icon"), superadmin_instructor_rate_path(rate), method: :delete, data: { confirm: 'Instructor rate will be deleted. Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
