<h2>Editing Instructor Rate</h2>
<%= render 'form', instructor_rate: @instructor_rate %>
<%= link_to 'Show', superadmin_instructor_rate_path(@instructor_rate) %> |
<%= link_to 'Back', superadmin_instructor_rates_path %>
