<h2>
  <%= link_to @purchase.client.name, admin_client_path(@purchase.client), class: "like_button" %>
</h2>
<h7 class="bolditalics mb-0">
  <%= link_to @purchase.formal_name, admin_product_path(@purchase.product), class: "like_button" %>
</h7>
