<% attendances = @purchase.attendances.no_amnesty.order_by_date %>
  <table class="table table-secondary table-striped caption-top">
    <caption>Attendances</caption>
    <tbody>
      <% attendances.each_with_index do |attendance, index| %>
        <% wkclass = attendance.wkclass %>
        <tr>
          <th scope="row"><%= attendances.size - index %></th>
          <td><%= link_to wkclass.summary, admin_wkclass_path(wkclass, link_from: 'purchase_show'), class: "like_button", data: { turbo: false } %></td>
          <td><%= attendance.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
