<% bookings = @purchase.bookings.amnesty.order_by_date %>
<% unless bookings.empty? %>
  <div class="fst-italic ps-2">Amnesties</div>
  <div class="admin-table striped mt-2 mb-4">
    <div class="row">
      <% bookings.each_with_index do |booking, index| %>
        <% wkclass_decorator = decorate(booking.wkclass) %>  
        <div class="row">
          <div class="column"><%= bookings.size - index %></div>
          <div class="column col-2x"><%= wkclass_decorator.name_link_in_purchase_show_tables %></div>
          <div class="column col-2x"><%= wkclass_decorator.date %></div>
          <div class="column col-2x"><%= booking.status %></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
