<div class="container px-1">
  <h4>Discount Reason <%= link_to image_tag('add.png', class: 'button_icon'), new_superadmin_discount_reason_path %></h4>
</div>
<div id="discounts_reasons_table_active" class="container px-1 mb-5 overflow-auto">
  <%= render 'discount_reasons_table_active' %>
</div>
<div id="discounts_reasons_table_inactive" class="container px-1 mb-5 overflow-auto">
  <%= render 'discount_reasons_table_inactive' %>
</div>