<div class="container px-1 margin-override">
  <h4>Discount Reason <%= link_to image_tag('add.png', class: 'button_icon'), new_superadmin_discount_reason_path %></h4>
</div>
<%= render 'discount_reasons_table' %>