@each $color, $value in $colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

.btn {
  font-size: 0.8rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
  &.btn-black {
    @include media-breakpoint-up(md) {
      font-size: 1rem;
     }  
  }
}

.btn-outline-black:hover {
  transform: scale(1.1);
  color: $black;
}

.btn img {
  width: auto;
  height: 2rem;
}

.btn-white:hover {
  background-color: $gray-100;
}

.btn-filter {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  display: inline-block;
  border: $border-width solid $border-color;
  color: $secondary;

  &:not(:last-child) {
    margin-right: 0.25rem;
  }

  &:hover {
    border-color: $black;
  }

  &.current {
    background-color: $black;
    border-color: $black;
    color: $white;
  }
}

.btn-black:hover {
  background-color: $gray-800;
}

// more or less properties of classes badge bg-primary rounded-pill
// this class is added automatically by the razorpay script
.razorpay-payment-button {
  background-color: $black;
  border-color: $black;  
  color: $white;
  border-radius: 0.5rem;
  font-size: 0.8rem;  
  // display: inline-block;
  // padding: 0.5em 0.75em;
  // font-size: 0.875rem;
  // font-weight: $font-weight-normal;
  // line-height: 1;
  // text-align: center;
  // white-space: nowrap;
  // vertical-align: baseline;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem 0.6rem $gray-800;
  text-transform: uppercase;
  &:hover {
    opacity: 0.8;
    box-shadow: none;    
  }
  @include media-breakpoint-up(md) {
    font-size: 1rem;
   }  
}

#trial-btn input.razorpay-payment-button {
  background-color: white;
  color: black;
}


// timetable slider

button.slider_btn {
  flex-grow: 1;
  text-transform: uppercase;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  &:hover {
    transform: scale(1.1);
  }
}

.button-container {
  display: flex;
}

.button-container button {
  border: 1px solid grey;
}

.button-container button.live { 
  background-color: rgb(105, 105,105);
}

@media (min-width: 768px) {
  .button-container {
    display: none
  }
}
