  // booking slider
div.booking-page {
  // background-color: $gray-100;
  // font-family: cursive;
  font-size: 1rem;
  box-sizing: border-box;

  h2 {
    color: $black;
    }

  .booking-day {
    display: none;
    animation: fadeIn 0.7s;
    &.live {
      display: flex;
      flex-direction: column;
    }
    .booking {
      display: flex;
      align-items: center;
      background-color: #f8f9fa;
      color: $black;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      // border-radius: 0.375rem;
      box-shadow: -1px 0.5px 1px $gray-500;
      margin-bottom: 0.2rem;
      padding: 0.5rem;
      @include media-breakpoint-up(md) {
        width: 30rem;
        margin-left: auto;
        margin-right: auto;
      }
      .book-item {
        &:not(:first-child) {
        flex: 1; 
        padding-left: 1rem;
      }
      &:nth-child(2), &:nth-child(4) {
        flex-grow: 1.5;
      }     
      &.image img {
        width: 4em;
        height: 4em;
        /* hack to get rid of small padding between bottom of image and containing div */
        display: block;
      }
      }
      .details {
        display: flex;
        flex-direction: column;
        font-size: 0.9rem;
        .wkclass-name {
          text-transform: capitalize;
          font-weight: bolder;
          padding-bottom: 0.2rem;
        }
        .studio {
          text-transform: capitalize;
          font-size: 0.8rem;          
          &::before {
            background-image: url('location.png');
            background-size: 1em 1em;
            display: inline-block;
            width: 1em; 
            height: 1em;
            content:"";
          }
        }
        .time {
          font-size: 0.8rem;            
        }
        .duration {  
          font-size: 0.7rem;  
          &::after {
            content:"mins";
          }
        }
        .date {  
          font-size: 0.6rem;
        }
        .status {
          font-size: 0.7rem;
          text-transform: uppercase;  
          font-weight: bold;
        }
      }         
    }
  }
}
  
div.open-gym {
    display: flex;
    flex-direction: column;
    background-color: $black;
  .open-gym-booking {
    display: flex;
    align-items: center;
    background-color: $gray-900;
    color: $gray-500;
    box-shadow: -1px 0.5px 1px $gray-500;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    @include media-breakpoint-up(md) {
      width: 30rem;
      margin-left: auto;
      margin-right: auto;
    }
    .book-item {
      flex: 1; 
      padding-left: 1rem;
      &:nth-child(1), &:nth-child(3) {
        flex-grow: 1.5;
      }           
    }
    .details {
      display: flex;
      flex-direction: column;
      font-size: 0.9rem;
      .status {
        font-size: 0.7rem;
        text-transform: uppercase;  
        font-weight: bold;
      }
    }         
    &:nth-child(odd) {
      background-color: $gray-900;
    }
    &:nth-child(even) {
      background-color: $gray-800;
    }
  }
}
