.dropdown {
  @include nofocus;

  > a {
    @include nofocus;
  }
}

.dropdown-menu {
  box-shadow: 0 0 1.5rem 0 rgba($black, 0.1);
  padding: 1.5rem 1rem;
  border: 0;

  .dropdown-item {
    @include nofocus;
    background: transparent;
    position: relative;
    padding: 0.25rem 1rem;
    font-size: $font-size-sm;
    color: $secondary;

    &:hover,
    &:active {
      padding-left: 0.75rem;
      padding-right: 1.25rem;
      background: transparent;
      color: $black;
    }

    &.active {
      color: $primary;
      background: transparent;

      &:hover,
      &:active {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    span {
      display: block;
    }
  }

  .dropdown-label {
    @include nofocus;
    display: inline-block;
    background: transparent;
    position: relative;
    padding: 0.25rem 1rem;
    font-size: $font-size-sm;

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .dropdown {
    .dropdown-menu {
      @include translate(-50%, 0);
      left: 50%;

      &[class*="-md"] {
        min-width: 25vw;
        column-count: 2;
      }

      &[class*="-custom"] {
        min-width: 30vw;
        padding: 0;
      }
    }
  }

  .dropdown-hover {
    > .dropdown-menu {
      transition: all 0.2s ease-in-out;
      display: block;
      pointer-events: none;
      opacity: 0;
      margin: 0.625rem 0 0 0;
    }

    &:hover > .dropdown-menu {
      opacity: 1;
      pointer-events: auto;
      margin: 0;
    }

    > .dropdown-toggle {
      &::after {
        display: none;
      }
    }
  }
}
