i.sellonline, a.whatsapp_group {
  opacity: 0.1;
 }

img.back_icon {
  width: 2.0rem;
  height: 2.0rem;
 }

img.header_icon {
  width: 1.0rem;
  height: 1.0rem;
  @include media-breakpoint-up(lg) {
    width: 1.4rem;
    height: 1.4rem;
    }   
 }

img.table_icon {
  width: 1.0rem;
  height: 1.0rem;
  opacity: 1.0;
  @include media-breakpoint-up(lg) {
    width: 1.3rem;
    height: 1.3rem;
    } 
  }

a img.table_icon:hover {
  transform: scale(1.2);
  opacity: 0.5
  }

td img.table_icon {
  width: 1.0rem;
  height: 1.0rem;
  opacity: 1.0;
  @include media-breakpoint-up(lg) {
    width: 1.3rem;
    height: 1.3rem;
    } 
  }

a img.table_icon {
  width: 1.0rem;
  height: 1.0rem;
  opacity: 1.0;
  &.waiver, &.instawaiver, &.fitternity, &.active-workout, &.active-product {
    opacity: 0.1;
  }
  @include media-breakpoint-up(lg) {
    width: 1.3rem;
    height: 1.3rem;
    } 
  }

a img.button_icon:hover {
transform: scale(1.1);
}

img.footerlogo {
  width: 6rem;
  display: block;
  margin: auto;
}

img.filter-red {
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter: invert(10%) sepia(83%) saturate(7500%) hue-rotate(7deg) brightness(111%) contrast(117%);
}
img.filter-white {

  filter: brightness(0) saturate(100%) invert(97%) sepia(98%) saturate(192%) hue-rotate(187deg) brightness(111%) contrast(100%);
}

a i.bi-sunset:hover, a i.bi-sunrise:hover {
  transform: scale(1.2);
  }

  img.table_icon {
    &.dull {
      opacity: 0.1;
    }
  }
