// dark mode
//
// add .inverted class to any section to switch color scheme to dark mode

$border-color-inverted: rgba($white, 0.2);

.inverted {
  color: $white !important;

  // all .border-top, .border-right ... classes
  [class*="border"],
  &[class*="border"] {
    border-color: $border-color-inverted !important;
  }

  .text-secondary {
    color: rgba($white, 0.75) !important;
  }

  // links
  a:not(.btn):not(.dropdown-item) {
    color: $white;
    &.active {
      color: $gray-600;}
    &:hover {
      color: rgba($white, 0.75);
    }
  }

  // buttons
  .btn-outline-white {
    border-color: $border-color-inverted;
  }

  // accordions
  .accordion {
    .accordion-item:not(:first-child) {
      border-color: $border-color-inverted;
    }
  }

}