section {
  position: relative;
  .open-gym {
    // background-color: $black;
  }
}

.level-1 {
  position: relative;
  z-index: 32 !important;
}

.span1 {
  font-size: 0.9rem;
  @include media-breakpoint-up(lg) {
    font-size: 1.2rem;
   }
}
