.navbar {
  padding: 2rem 0;
}

.navbar-sticky {
  transform: translateY(0%);
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  opacity: 1;
  z-index: 1040;
}

.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $white;
      text-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
    }
  }
}

.navbar-nav {
  margin-top: 1rem;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  .nav-link {
    @include nofocus;
    @include media-breakpoint-up(lg) {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }

  .nav-icon {
    @include nofocus;
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;

    .bi-list {
      font-size: 1.375rem;
      margin-top: 2px;
    }
  }
}

.navbar-nav-secondary {
  margin-top: 0;
  flex-direction: row;
  align-items: center;

  @include media-breakpoint-down(lg) {
    .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.navbar-brand {
  img {
    width: auto;
    max-height: 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
  }
}

.nav {
  .nav-link {
    position: relative;
    color: inherit;
  }
}
