// #shop #Flex_btn {
//   padding: 0.5rem 2.3rem;
// }
div.package_type_btns .btn {
  width: 7rem;
}

h3.discount-statement {
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em
}

#shop .name {
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}  
#shop .classes, #shop .trial-name {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#shop .trial-tagline {
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}  

#shop .value-statement {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

#shop .duration {
  font-size: 0.78rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}  
#shop .base-price {
  text-decoration: line-through;  
  font-size: 0.8rem;
  font-weight: 500;
}  
#shop .discount-price {
  font-size: 0.8rem;
  font-weight: 500;
}

#shop ul.product-notes {
  font-size: 0.8rem;
  font-weight: 500;
  list-style: none;
  padding-left: 0;
  text-align: left;  
}

#shop .accordion-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shop .accordion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}

@media (min-width: 900px) {

  #shop .card-body {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;   
  }

  #shop .name {
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }  
  #shop .classes {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }  
  #shop .duration {
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }  
  #shop .base-price {
    text-decoration: line-through;  
    font-size: 0.9rem;
    font-weight: 500;
  }  
  #shop .discount-price {
    font-size: 0.9rem;
    font-weight: 500;
  }    

  h3.discount-statement {
    font-size: 0.8rem;
  }  
}

@media (min-width: 600px) {
  #shop .accordion-item {
    padding: 0 20%;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@media (min-width: 1400px) {
  #shop .accordion-item {
    padding: 0 30%;
  }
}


div.admin_form {
  position: relative; //for benefit of cancel button
  background-color: $gray-100;
  padding: 0.5rem;
  box-shadow: 1px 3px 6px $black;
  // box-shadow: -1px 0.5px 1px $gray-500;
  border-radius: 0.375rem;
}

#shop div.menu {
  display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}  


