.table {
  td,
  th {
    padding: 1.5rem 1rem;
  }

  th {
    // font-weight: $font-weight-normal;
    // DPS
    font-weight: $font-weight-bold;
  }

  tr {
    > *:first-child {
    // font-weight: $font-weight-normal;
    // DPS      
    // padding-left: 0;
      padding-left: 0.625rem;
    }

    > *:last-child {
    // DPS         
      padding-right: 0.625rem;
    }
  }

  thead th {
    text-transform: uppercase;
    font-size: $font-size-sm;
    letter-spacing: 0.05em;
    color: $gray-700;
  }

  tbody tr {
    border-top-width: $border-width;
  }

  td,
  th,
  tr {
    border-width: 0;
  }
}
