@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

$font-stack:  "Quicksand", "Arial";
$gray-darker:  #808080;
$gray-darkest: #474444;
$bg-light: #f8f9fa;
$white: white;
$black: black;
$font-weight-bold: 700;
$primary: blue;
$border-color-inverted: rgba($white, 0.2);

.form-mandatory::after {
  content: "  *";
  font-size: 0.7rem;
}

span.sub-label {
  font-size: 0.7rem;
}

#renewal span.renewal-price {
  font-size: 0.9rem;
}

h3.discount-statement {
  font-size: 0.65rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}



.carousel-item .review {
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.25;
}

.carousel-item .reviewer {
  line-height: 1.25;
  font-weight: 700;
}

#carouselMoreThanGym .carousel-item {
color: white;
background-color: black;
} 

.carousel-item .more-than-gym-head {
  font-size: 1.1rem;
  line-height: 1.25;
  font-weight: 700;
  text-transform: uppercase;
}

.carousel-item .more-than-gym-desc {
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
}

.carousel-item .carousel-caption-signature {
  top: 4rem; 
}

.carousel-caption {
  left: 10%;
  right: 10%;
}

.carousel-class-desc-caption {
  position: relative;
  left: auto;
  right: auto;
  padding: 1rem 1rem 3rem 1rem;
  p {
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-align: justify;  
  }
}

#carouselSignature .carousel-item img {
  filter: grayscale(100%) opacity(50%);
}

@media (min-width: 1150px) {
  .carousel-item .carousel-caption-signature {
    top: 35%;
  }
  .carousel-class-desc-caption {
    padding: 1rem 10% 3rem 10%;
    p {
      font-size: 1.1rem;
      letter-spacing: 0.15em;  
    }
  }  
}

@media (max-width: 900px) {
  section.cover-photo h1  {
    font-size: 2.5rem;
  }
}

section.cover-photo figure {
  filter: opacity(70%);
  transform: scale(1.3);
}

@media (min-width: 900px) {
  section.cover-photo figure {
    transform: scale(1.0);
  }
}

section.cover-photo > div:first-child {
  min-height: 50vh;
  padding-top: 8rem;
}

section.cover-photo .sweat {
  font-size: 0.8rem;
}

div.group-class .tagline1, section.book-trial p.tagline  {
  font-size: 1.4rem;
  line-height: 1.8rem;  
  font-weight: bold;
}

div.group-class .tagline2, section.book-trial p.tagline2 {
  font-size: 1.0rem;
  line-height: 1.2rem;  
  font-weight: bold;
}

// so bottom items in dropdowns with lost of items dont become inaccesssible on phone
@media (max-width: 550px) {
.highnavbar {
  margin-top: -12rem !important;
}}

#carouselTestimonial .carousel-item.active {
  display: flex;
  justify-content: center;
}

div.insta-blocker-top {
  width: 7.5rem;
  height: 2.5rem;
  background-color:white;
  position: absolute;
  top: 0.5rem;
  right:0;
  z-index:2;
}

div.insta-blocker-bottom {
  // width: 100%;
  height: 8rem;
  background-color:white;
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right:0;
  z-index:2;
}

.carousel div.tt-date-title {
  font-size: 1.25rem;
  color: white;
}
.carousel div.tt-date {
  font-size: 0.8rem;
  border-bottom: thin solid grey;
  color: grey;
}
.carousel div.tt-title {
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.carousel div.tt-goal {
  font-size: 1.0rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  padding-bottom: 1.5rem;  
  line-height: 1em;
}

@media(min-width:768px) {
.carousel div.tt-title-container {
  height: 5rem;
  position: relative;
  text-align: center;
  width:100%;
}
.carousel div.tt-title {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);  
}

.carousel div.tt-goal-container {
  height: 4rem;
  position: relative;
  text-align: center;
  width:100%;
}

.carousel div.tt-goal {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}
}

.carousel div.tt-time {
  font-size: 0.8rem;
  color: grey;
  padding-bottom: 0.25rem;
}
.carousel div.tt-goal {
  font-size: 1.0rem;
  color: grey;
}
@media (min-width: 768px) {
  .carousel div.tt-goal {
    font-size: 0.6rem;
  }
}
.carousel div.tt-level {
  font-size: 0.8rem;
  color: grey;
}
.carousel div.tt-studio {
  font-size: 0.8rem;
  color: grey;
}

.tt-day {
  display: none;
  animation: fadeIn 0.7s;
}

.tt-day.live {
  display: block;
}

@media (min-width: 768px) {
  .tt-day {
    display: block;
    padding-right: 32px;    
  }
}

@keyframes fadeIn {
  from { margin-left: 100%; }
}

i.link {
  &:hover {
    transform: scale(1.3);
    opacity: 0.5;
  }
}
