<div class="container mt-2">
  <ul class="text-secondary value-statement">
    <li><%= link_to 'Terms & Conditions', terms_and_conditions_path %> apply</li>
    <li>Prices include GST</li>
    <li>Payment portal convenience fee applied at checkout</li>
    <% if @renewal.new_client? %>  
      <li><%= RenewalPresenter.new(renewal: @renewal).new_client_statement %></li>
    <% end %>
    <% if @client.student? %>  
      <li>You must notify us if you are no longer in full time education</li>
    <% end %>
  </ul>
</div>

