<div class="text-center">
  <h3 class="display-6 mb-1">GROUP CLASS PACKAGES</h3>
  <h3 class="display-2 fw-light discount-statement mb-3"><%= RenewalPresenter.new(renewal: @renewal).shop_discount_statement %></h3>
</div>
