<h1>Editing Instructor Salary</h1>
<%= render 'form', instructor_salary: @instructor_salary %>
<%= link_to 'Show', superadmin_instructor_salary_path(@instructor_salary) %> |
<%= link_to 'Back', superadmin_instructor_salaries_path %>
