<div class="row">
  <div class="col-md-6">
    <h2>Forgot password</h2>
    <%= form_with(scope: :password_reset, url: client_password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-black" %>
    <% end %>
  </div>
</div>
