<table class="table table-secondary table-striped caption-top">
  <tbody>
    <% @fitternities.each do |fitternity| %>
      <tr>
        <td><%= link_to image_tag('clipboard.png', class: "table_icon"), admin_fitternity_path(fitternity) %></td>
        <td><%= fitternity.max_classes %></td>
        <td><%= fitternity.expiry_date.strftime('%d %b %y') %></td>
        <% unless logged_in_as?('junioradmin') %>
          <td><%= link_to image_tag('edit.png', class: "table_icon"), edit_admin_fitternity_path(fitternity) %></td>
          <!--td><%#= link_to image_tag('delete.png', class: "table_icon"), admin_fitternity_path(fitternity), method: :delete, data: { confirm: 'Fitternity and all its purchases will be deleted. Are you sure?' } %></td-->
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
