<table class="table table-secondary table-striped caption-top">
  <caption>Attendances</caption>
  <tbody>
    <% @attendances.each_with_index do |attendance, index| %>
      <% wkclass = attendance.wkclass %>
      <% wkclass_decorator = decorate(wkclass) %>
      <tr>
        <th scope="row"><%= @attendances.size - index %></th>
        <td><%= link_to wkclass_decorator.summary, wkclass_path(wkclass), class: "like_button" %></td>
        <td><%= link_to attendance.client.name , client_path(attendance.client), class: "like_button" %></td>
        <td><%= attendance.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
