<table class="table table-secondary table-striped caption-top">
  <caption>Summary</caption>
  <tbody>
    <tr>
      <th scope="row">Max classes</th>
      <td><%= @fitternity.max_classes %></td>
    </tr>
    <tr>
      <th scope="row">Classes remain (confirmed)</th>
      <td><%= @fitternity.classes_remain(provisional: false) %></td>
    </tr>
    <tr>
      <th scope="row">Classes remain (provisional)</th>
      <td><%= @fitternity.classes_remain(provisional: true) %></td>
    </tr>
    <tr>
      <th scope="row">Expiry</th>
      <td><%= @fitternity.expiry_date.strftime('%d %b %y') %></td>
    </tr>
  </tbody>
</table>
