<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to admin_workout_groups_path, class: "nav-link active" do %>
        <i class="fa fa-dumbbell"></i>
        <span class="link-text">Workout Groups</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_partner_path(current_account.partners.first), class: "nav-link" do %>
        <i class="fa fa-calendar"></i>
        <span class="link-text">Payment Summary</span>
      <% end %>
    </li>
  </ul>
  <ul class="navbar-nav">
    <li class="nav-item">
      <% if current_account %>
        <%= link_to logout_path, method: :delete, class: "nav-link" do %>
          <i class="fa fa-door-open"></i>
          <span class="link-text">Logout</span>
        <% end %>
      <% else %>
        <%= link_to login_path, class: "nav-link" do %>
          <i class="fa fa-sign-in-alt"></i>
          <span class="link-text">Login</span>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
