<nav id="publicNav" class="navbar navbar-expand-lg navbar-sticky navbar-dark <%#= 'bg-black' if @group == true %>">

  <div class="container">
    <%= link_to root_path, class: "navbar-brand", data: {turbo: false} do %>
      <%= image_tag('SpaceLogo_white.png', alt: "logo") %>
    <% end %>

    <ul class="navbar-nav navbar-nav-secondary order-lg-3">
      <li class="nav-item d-lg-none">
        <a class="nav-link nav-icon" href="" role="button" data-bs-toggle="collapse" data-bs-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="bi bi-list"></span>
        </a>
      </li>
    </ul>

    <div class="collapse navbar-collapse" id="navbar" data-bs-parent="#publicNav">
      <ul class="navbar-nav">
      <%# if request.fullpath.include? ("welcome") %>
        <!--li class="nav-item">
          <%#= link_to "Timetable", "/timetable", class: "nav-link", 'data-turbolinks': false %>
        </li-->
      <%# end %>
        <li class="nav-item">
          <%= link_to login_path, class: "nav-link", data: {turbo: false} do %>
            <i class="fa fa-sign-in-alt"></i>
            <span class="link-text">Login</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>